---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$color-1:		   #4b007d;
$color-2:		   #ff4081;
$color-3:		   #ccedfe;

$header-color:	   #282828;
$text-color: 	   #585858;
$link-color:	   #59a4f1;

$grey-bg:		   #faf3ff;
$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

$semi-big: calc( 2.50em + 1vw );

// Width of the content area
$content-width:    800px;

$sm:        768px;
$md:        992px;
$lg:		1200px;
$xl:		1440px;

// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (min-width: $device) {
        @content;
    }
}

@mixin p_article() {
    max-width: 700px;
    margin: 0 auto;
}




// Import partials from `sass_dir` (defaults to `_sass`)
@import
		"frameworks.css",
        "layout"
;

.bookme {
    border: 1px solid;
    width: 360px;
    font-size: .5em;
    margin: 0 auto;
    color: white !important;
    text-align: center;
    white-space: nowrap;
    background: #4b007d;
    border-radius: 5px;
    margin-top: 20px;
}


@media screen and (min-width:768px)
{
.bookme {
   display: none !important;
}

}

@media screen and (max-width:768px)
{
.bookmeMargintop {
    margin-top: 40% !important;
}

.bookmeMarginbutton {
    margin-bottom: 20% !important;
}
}
