/*
 * Mixins
 */
/*
 * Defaults
 */
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
p,
a {
  font-family: 'Roboto', 'Helvetica', 'Arial' sans-serif;
}
a {
  text-decoration: none;
}
a:hover,
a:focus {
  text-decoration: none;
}
#em {
  font-weight: 500;
}
body {
  position: relative;
  width: 100%;
  height: 100%;
  -webkit-animation: bugfix infinite 1s;
}
@-webkit-keyframes bugfix {
  from {
    padding: 0;
  }
  to {
    padding: 0;
  }
}
.anchor-arrow {
  color: #6341b4;
  text-shadow: 1px 1px 2px rgba(0,0,0,0.6);
}
.anchor-arrow:hover,
.anchor-arrow:active,
.anchor-arrow:focus {
  color: #7150c0;
}
.main-topic {
  position: relative;
  display: block;
  font-family: 'Great Vibes', 'Helvetica', 'Arial', sans-serif;
  font-size: 5rem;
  text-align: center;
  color: #2c3440;
  text-shadow: 1px 1px 2px rgba(0,0,0,0.33);
}
.main-topic::after {
  position: absolute;
  content: '';
  left: 0;
  right: 0;
  bottom: 0;
  width: 100px;
  margin: 0 auto;
  height: 2px;
  background: #6341b4;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.main-description {
  font-size: 1.75rem;
  text-align: center;
  padding: 15px;
  max-width: 700px;
  margin: 0 auto;
  line-height: 1.68;
  font-weight: 300;
  color: #707070;
}
@media (min-width: 769px) {
  .main-topic {
    font-size: 7rem;
  }
  .main-description {
    font-size: 2rem;
  }
}
.owl-theme .owl-buttons i {
  font-size: 2em;
  color: #442d7c;
}
.owl-theme .owl-controls .owl-buttons div {
  position: absolute;
  top: 50%;
  background: rgba(255,255,255,0.6);
  opacity: 0.8;
}
.owl-theme .owl-controls .owl-buttons div i {
  padding: 0.2em 0.1em;
}
.owl-theme .owl-controls .owl-buttons .owl-prev {
  left: 5px;
  padding-left: 0.5em;
}
.owl-theme .owl-controls .owl-buttons .owl-next {
  right: 5px;
  padding-right: 0.5em;
}
@media (min-width: 769px) {
  .owl-theme .owl-buttons i {
    font-size: 3.5rem;
  }
}
/*
 * Main Style
 */
input#hamburger-menu[type=checkbox] {
  position: fixed;
  display: block;
  top: -9999px;
  left: -9999px;
  z-index: 2100;
}
input#hamburger-menu[type=checkbox]::before {
  position: absolute;
  content: "\f0c9";
  top: 9999px;
  left: 9999px;
  padding: 10px 15px;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  font-size: 2.5rem;
  text-shadow: 1px 1px 2px rgba(0,0,0,0.4);
  color: #fa8bda;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  z-index: 2000;
}
input#hamburger-menu[type=checkbox]:focus,
input#hamburger-menu[type=checkbox]:hover,
input#hamburger-menu[type=checkbox]:active {
  outline: none;
}
input#hamburger-menu[type=checkbox] label {
  display: block;
  z-index: 100;
}
input#hamburger-menu[type=checkbox] label:hover {
  cursor: pointer;
}
input#hamburger-menu[type=checkbox]:checked::before {
  content: "\f00d";
  color: #fff;
}
input#hamburger-menu[type=checkbox]:checked ~ .menu-overlay {
  visibility: visible;
  opacity: 1;
}
input#hamburger-menu[type=checkbox]:checked ~ header {
  position: fixed;
  width: auto;
  z-index: 1000;
}
input#hamburger-menu[type=checkbox]:checked ~ header .header-contact a {
  color: #efefef;
}
.menu-overlay {
  position: fixed;
  display: table;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgba(37,25,68,0.9);
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  z-index: 20;
}
.menu-overlay ul {
  display: table-cell;
  width: 100%;
  vertical-align: middle;
  padding: 1em;
  text-align: center;
}
.menu-overlay ul li {
  display: block;
  margin: 1em 0;
}
.menu-overlay ul li a {
  padding: 1em;
  color: #eee;
  font-family: 'Roboto', 'Arial', 'Helvetica', sans-serif;
  font-weight: 300;
  font-size: 2.5rem;
  text-transform: uppercase;
  letter-spacing: -1px;
}
@media (min-width: 769px) {
  input#hamburger-menu[type=checkbox] {
    display: none;
  }
  input#hamburger-menu[type=checkbox] label {
    display: none;
  }
}
/* **************************
 * HEADER
 */
header {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  right: 0;
  width: auto;
}
header .header-contact {
  display: block;
  text-align: right;
  margin-right: 0.5rem;
}
header .header-contact a {
  position: relative;
  z-index: 1000;
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  font-size: 1.5rem;
  font-weight: 300;
  padding: 1rem;
  top: 10px;
  color: #6341b4;
}
header .header-menu {
  display: none;
}
@media (min-width: 769px) {
  header .header-contact {
    display: none;
  }
  header .header-menu {
    position: relative;
    display: block;
    width: 60%;
    min-width: 700px;
    max-width: 768px;
    margin: 0 auto;
    margin-top: 2rem;
    z-index: 10;
  }
  header .header-menu #main-menu {
    margin: 0 auto;
    padding: 15px;
    text-align: center;
    vertical-align: middle;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    z-index: 11;
    border-top: 2px solid #707070;
    border-bottom: 2px solid #707070;
/*
				&::before,
				&::after
					position absolute
					content ''
					display block
					width 100%
					left 0
					right 0
					height 2px
					background $3
				&::before
					top 0
				&::after
					bottom 0
				*/
  }
  header .header-menu #main-menu li {
    display: inline-block;
    z-index: 12;
  }
  header .header-menu #main-menu li a {
    font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
    font-weight: 400;
    font-size: 1.35rem;
    text-transform: uppercase;
    padding: 1rem;
    color: #505050;
    z-index: 13;
    position: relative;
  }
  header .header-menu #main-menu li a::after {
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    right: 0;
    -ms-transform: translateY(100%);
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
    width: 60%;
    margin: 0 auto;
    height: 2px;
    background: #2c3440;
    -webkit-border-radius: 25%;
    -moz-border-radius: 25%;
    border-radius: 25%;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
  }
  header .header-menu #main-menu li a:hover::after {
    visibility: visible;
    opacity: 1;
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  header .main-menu {
    position: relative;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  header .sub-menu-bg {
    position: fixed;
    width: 100%;
    left: 0;
    right: 0;
    top: 0;
    background: url("../img/background3.jpg");
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    opacity: 0.95;
  }
}
/* **************************
 * MAIN SECTION
 */
.main-section {
  position: relative;
  display: block;
  width: 100%;
  height: 100vh;
  background: url("../img/1.jpg");
  background-size: auto 150%;
  background-position: center;
}
.main-section .main-section-content {
  position: relative;
  top: 50%;
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  padding: 2em 15px;
  vertical-align: middle;
}
.main-section .main-section-content h1#main-title {
  font-family: 'Great Vibes', 'Helvetica', 'Arial', sans-serif;
  font-size: 6.5rem;
  text-align: center;
  text-shadow: 1px 1px 4px rgba(0,0,0,0.33);
  color: #2c3440;
}
.main-section .main-section-content h3#sub-title {
  font-family: 'Roboto', 'Helvetica' 'Asrial', sans-serif;
  font-size: 2rem;
  font-weight: 400;
  text-align: center;
}
.main-section a {
  position: absolute;
  content: '';
  width: 50px;
  height: 50px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  text-align: center;
}
.main-section a i {
  position: relative;
  font-size: 3.5rem;
  padding: 0.5rem;
}
@media (min-width: 769px) {
  .main-section .main-section-content h1#main-title {
    font-size: 8rem;
  }
  .main-section a {
    bottom: 1.5rem;
  }
}
/* **************************
 * ABOUT SECTION
 */
.about-section {
  position: relative;
  width: 100%;
}
.about-section .about-section-content {
  padding: 2em 15px;
  text-align: center;
}
.about-section .about-section-content p {
  position: relative;
  padding: 2em 0;
/*
			&::after
				position absolute
				content ''
				left 0
				right 0
				bottom 0
				height 2px
				width 150px
				margin 0 auto
				background $2
				border-radius 50%
			*/
}
.about-section .about-section-content .about-gallery {
  padding: 2em 0;
}
.about-section .about-section-content .about-gallery ul {
  position: relative;
  text-align: center;
}
.about-section .about-section-content .about-gallery ul li {
  display: inline-block;
  width: 30%;
  margin: 2px auto;
}
.about-section .about-section-content .about-gallery ul li img {
  width: 100%;
  moz-box-shadow: 1px 1px 2px rgba(0,0,0,0.33);
  -webkit-box-shadow: 1px 1px 2px rgba(0,0,0,0.33);
  box-shadow: 1px 1px 2px rgba(0,0,0,0.33);
}
@media (min-width: 769px) {
  .about-gallery {
    width: 80%;
    max-width: 1024px;
    margin: 0 auto;
    margin-top: 5em;
  }
  .about-gallery #about-gallery {
    width: 100%;
  }
  .about-gallery #about-gallery li {
    box-sizing: border-box;
    width: 18%;
  }
}
.chocolat-img {
  width: 100%;
}
/* **************************
 * SERVICE SECTION
 */
.service-section {
  width: 100%;
}
.service-section .service-section-content {
  padding: 5em 0;
  text-align: center;
}
.service-section .service-section-content .services {
  width: 100%;
  margin: 0 auto;
  padding: 2em 0;
  text-align: center;
}
.service-section .service-section-content .services table {
  width: 80%;
  max-width: 275px;
  height: 100%;
  min-height: 350px;
  margin: 1em auto;
  text-align: left;
  moz-box-shadow: 0px 2px 2px rgba(0,0,0,0.33);
  -webkit-box-shadow: 0px 2px 2px rgba(0,0,0,0.33);
  box-shadow: 0px 2px 2px rgba(0,0,0,0.33);
  background: #f2f2f2;
  font-family: 'Roboto', 'Arial', 'Helvetica', sans-serif;
  font-size: 1.5rem;
  font-weight: 300;
  vertical-align: top;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  color: #303030;
}
.service-section .service-section-content .services table thead {
  text-align: left;
}
.service-section .service-section-content .services table thead tr td {
  letter-spacing: 1px;
  text-transform: uppercase;
  padding: 0.75rem 1rem;
  font-weight: 500;
  font-size: 1.75rem;
}
.service-section .service-section-content .services table tbody {
  padding: 1rem 0;
  text-align: left;
}
.service-section .service-section-content .services table tbody tr td {
  padding: 0.5rem 1rem;
}
.service-section .service-section-content .services #nails thead {
  background: #a1f9de;
}
.service-section .service-section-content .services #hair thead {
  background: #a1bcf9;
}
.service-section .service-section-content .services #spa thead {
  background: #f9b2a1;
}
.service-section .service-section-content .services #waxing thead {
  background: #dea1f9;
}
.service-section .service-section-content .services #skin-care thead {
  background: #bcf9a1;
}
.service-section .service-section-content .services #make-up thead {
  background: #a1f9b2;
}
.service-section .service-section-content .button {
  position: relative;
  width: auto;
  min-width: 200px;
  max-width: 300px;
  padding: 15px;
  background: #ab8bfa;
  border-bottom: 2px solid #9066f8;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  color: #efefef;
  text-transform: uppercase;
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  font-weight: 300;
  letter-spacing: 1px;
  font-size: 1.5rem;
  -webkit-transition: background 0.3s ease;
  -moz-transition: background 0.3s ease;
  -o-transition: background 0.3s ease;
  transition: background 0.3s ease;
}
.service-section .service-section-content .button:hover {
  background: #b89cfb;
}
.service-section .service-section-content .button:active {
  top: 2px;
  border-bottom: 2px solid transparent;
  moz-box-shadow: inset 0px 0px 20px -5px rgba(0,0,0,0.33);
  -webkit-box-shadow: inset 0px 0px 20px -5px rgba(0,0,0,0.33);
  box-shadow: inset 0px 0px 20px -5px rgba(0,0,0,0.33);
}
.service-section .owl-controls .owl-buttons div {
  top: 35%;
}
@media (min-width: 769px) {
  .service-section .owl-theme .owl-controls .owl-buttons .owl-prev {
    left: -5em;
    padding-left: 0.5em;
  }
  .service-section .owl-theme .owl-controls .owl-buttons .owl-next {
    right: -5em;
    padding-right: 0.5em;
  }
  .service-section .service-section-content .services {
    width: 80%;
    max-width: 1440px;
  }
}
/* **************************
 * TEAM SECTION
 */
.team-section-content {
  text-align: center;
  padding: 5em 0;
}
.team-section-content .owl-theme .owl-controls .owl-buttons .owl-prev {
  left: 10px;
}
.team-section-content .owl-theme .owl-controls .owl-buttons .owl-next {
  right: 10px;
}
.team-section-content .owl-controls .owl-buttons div {
  top: 45%;
}
.team {
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding: 2em 0;
  text-align: center;
}
.team #anara {
  background: url("../img/team/anara.jpg");
  background-size: cover;
  background-position: center top;
}
.team #anya {
  background: url("../img/team/anya.jpg");
  background-size: cover;
  background-position: center top;
}
.team #bike {
  background: url("../img/team/bike.jpg");
  background-size: cover;
  background-position: center top;
}
.team #emily {
  background: url("../img/team/emily.jpg");
  background-size: cover;
  background-position: center top;
}
.team #gozel {
  background: url("../img/team/Gozel.jpg");
  background-size: cover;
  background-position: center top;
}
.team #hayane {
  background: url("../img/team/hayane.jpg");
  background-size: cover;
  background-position: center top;
}
.team #jenya {
  background: url("../img/team/jenya.jpg");
  background-size: cover;
  background-position: center top;
}
.team #lyuda {
  background: url("../img/team/lyuda.jpg");
  background-size: cover;
  background-position: center top;
}
.team #maya {
  background: url("../img/team/maya.jpg");
  background-size: cover;
  background-position: center top;
}
.team #natalia {
  background: url("../img/team/natalia.jpg");
  background-size: cover;
  background-position: center top;
}
.team #sveta {
  background: url("../img/team/sveta.jpg");
  background-size: cover;
  background-position: center top;
}
.team #tanya {
  background: url("../img/team/tanya.jpg");
  background-size: cover;
  background-position: center top;
}
.team #tham {
  background: url("../img/team/tham.jpg");
  background-size: cover;
  background-position: center top;
}
.team #veronika {
  background: url("../img/team/veronika.jpg");
  background-size: cover;
  background-position: center top;
}
.team #yana {
  background: url("../img/team/yana.jpg");
  background-size: cover;
  background-position: center top;
}
.team #yulia {
  background: url("../img/team/yulia.jpg");
  background-size: cover;
  background-position: center top;
}
.team #yuliya {
  background: url("../img/team/yuliya.jpg");
  background-size: cover;
  background-position: center top;
}
.team .team-item {
  position: relative;
  text-align: center;
  width: 80%;
  max-width: 225px;
  height: 100%;
  min-height: 300px;
  margin: 0 auto;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  z-index: 10;
}
.team .team-item::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  background: linear-gradient(45deg, rgba(171,139,250,0.33), transparent);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  z-index: 11;
}
.team .team-item img {
  width: 100%;
  height: 100%;
}
.team .team-item .team-item-overlay {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 50px;
  background: rgba(37,25,68,0.6);
  overflow: hidden;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-transition-delay: 0.15s;
  -moz-transition-delay: 0.15s;
  -o-transition-delay: 0.15s;
  transition-delay: 0.15s;
  color: #efefef;
  z-index: 12;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.team .team-item .team-item-overlay .team-item-overlay-content {
  position: relative;
  box-sizing: border-box;
  padding: 0 15px;
  z-index: 13;
}
.team .team-item .team-item-overlay .team-item-overlay-content h3 {
  margin: 0;
  padding: 15px 0;
  vertical-align: top;
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  font-size: 1.75rem;
  font-weight: 300;
}
.team .team-item .team-item-overlay .team-item-overlay-content p {
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  font-size: 1.75;
  font-weight: 300;
}
.team .team-item .team-item-overlay .team-item-overlay-content i {
  position: absolute;
  top: 15px;
  right: 5px;
  display: block;
  padding: 0.5rem 0.75rem;
  font-size: 1.5rem;
  color: #fa8bda;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.6);
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-transition-delay: 0.15s;
  -moz-transition-delay: 0.15s;
  -o-transition-delay: 0.15s;
  transition-delay: 0.15s;
}
.team .team-item .team-item-overlay:hover {
  height: 60%;
  background: rgba(37,25,68,0.8);
}
.team .team-item .team-item-overlay:hover i {
  color: #fa8bda;
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
@media (min-width: 769px) {
  .team {
    width: 90%;
    max-width: 1440px;
  }
  .team-section-content .owl-theme .owl-controls .owl-buttons .owl-prev {
    left: -3.5em;
  }
  .team-section-content .owl-theme .owl-controls .owl-buttons .owl-next {
    right: -3.5em;
  }
}
/* **************************
 * BRANDS SECTION
 */
.main-brands {
  background: #f2f2f2;
}
.main-brands-content {
  padding: 2em 0;
  text-align: center;
}
.main-brands-content #brands-slider {
  width: 100%;
  padding: 2em 0;
  margin: 0 auto;
}
.main-brands-content #brands-slider .item img {
  width: 80%;
  max-width: 200px;
  margin: 0 auto;
}
.main-brands-content .owl-theme .owl-controls .owl-buttons .owl-prev {
  left: 10px;
}
.main-brands-content .owl-theme .owl-controls .owl-buttons .owl-next {
  right: 10px;
}
.main-brands-content .owl-controls .owl-buttons div {
  top: 35%;
}
@media (min-width: 769px) {
  .main-brands-content #brands-slider {
    width: 90%;
    max-width: 1440px;
  }
  .main-brands-content #brands-slider .item img {
    width: 60%;
  }
  .main-brands-content .owl-theme .owl-controls .owl-buttons .owl-prev {
    left: -3.5em;
  }
  .main-brands-content .owl-theme .owl-controls .owl-buttons .owl-next {
    right: -3.5em;
  }
  .main-brands-content .owl-controls .owl-buttons div {
    top: 25%;
  }
}
/* **************************
 * CONTACT SECTION
 */
.contact-section-content {
  padding: 5em 0;
  padding-bottom: 2em;
}
.contact-section-content #form {
  margin: 0 auto;
}
.contact-section-content #form-main-content {
  padding: 2em 0;
}
.contact-section-content form {
  position: relative;
  display: block;
  width: 100%;
  margin: 0 auto;
}
.contact-section-content form #form-name,
.contact-section-content form #form-email,
.contact-section-content form #form-mobile,
.contact-section-content form #form-msg,
.contact-section-content form textarea {
  display: block;
  width: 90%;
  margin: 0 auto;
  border: none;
  border-bottom: 2px solid #fa8bda;
  padding: 15px;
  font-family: 'Roboto', 'Helvetica', 'Arial' sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  color: #444;
  background: transparent;
  -webkit-transition: padding 0.15s ease-in-out;
  -moz-transition: padding 0.15s ease-in-out;
  -o-transition: padding 0.15s ease-in-out;
  transition: padding 0.15s ease-in-out;
}
.contact-section-content form #form-name:hover,
.contact-section-content form #form-email:hover,
.contact-section-content form #form-mobile:hover,
.contact-section-content form #form-msg:hover,
.contact-section-content form textarea:hover,
.contact-section-content form #form-name:focus,
.contact-section-content form #form-email:focus,
.contact-section-content form #form-mobile:focus,
.contact-section-content form #form-msg:focus,
.contact-section-content form textarea:focus,
.contact-section-content form #form-name:active,
.contact-section-content form #form-email:active,
.contact-section-content form #form-mobile:active,
.contact-section-content form #form-msg:active,
.contact-section-content form textarea:active {
  outline: none;
}
.contact-section-content form #form-name:focus,
.contact-section-content form #form-email:focus,
.contact-section-content form #form-mobile:focus,
.contact-section-content form #form-msg:focus,
.contact-section-content form textarea:focus,
.contact-section-content form #form-name:active,
.contact-section-content form #form-email:active,
.contact-section-content form #form-mobile:active,
.contact-section-content form #form-msg:active,
.contact-section-content form textarea:active {
  border-bottom: 2px solid #6341b4;
}
.contact-section-content form #form-name:focus,
.contact-section-content form #form-email:focus,
.contact-section-content form #form-mobile:focus,
.contact-section-content form #form-msg:focus,
.contact-section-content form textarea:focus {
  padding: 20px 15px;
  font-size: 1.75rem;
}
.contact-section-content form textarea {
  height: 100%;
  min-height: 100px;
}
.contact-section-content form #form-submit {
  display: block;
  margin: 1em auto;
  border: none;
  position: relative;
  width: auto;
  min-width: 200px;
  max-width: 300px;
  padding: 15px;
  background: #ab8bfa;
  border-bottom: 2px solid #9066f8;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  color: #efefef;
  text-transform: uppercase;
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  font-weight: 300;
  letter-spacing: 1px;
  font-size: 1.5rem;
  -webkit-transition: background 0.3s ease;
  -moz-transition: background 0.3s ease;
  -o-transition: background 0.3s ease;
  transition: background 0.3s ease;
}
.contact-section-content form #form-submit:hover {
  background: #b89cfb;
}
.contact-section-content form #form-submit:active {
  top: 2px;
  border-bottom: 2px solid transparent;
  moz-box-shadow: inset 0px 0px 20px -5px rgba(0,0,0,0.33);
  -webkit-box-shadow: inset 0px 0px 20px -5px rgba(0,0,0,0.33);
  box-shadow: inset 0px 0px 20px -5px rgba(0,0,0,0.33);
}
.contact-section-content form #form-submit:focus {
  outline: none;
}
.contact-section-content #location-map {
  width: 100%;
  margin: 2em auto;
}
.contact-section-content #location-map .google-map {
  width: 100%;
  height: auto;
  padding: 0;
  margin: 0 auto;
  border: 1px solid #ab8bfa;
  moz-box-shadow: 2px 0px 4px rgba(0,0,0,0.6);
  -webkit-box-shadow: 2px 0px 4px rgba(0,0,0,0.6);
  box-shadow: 2px 0px 4px rgba(0,0,0,0.6);
}
.contact-section-content #location-map .google-map img {
  width: 100%;
  height: auto;
}
.contact-section-content #location-map .google-map iframe {
  width: 100%;
  height: 100%;
  z-index: 1;
}
@media (min-width: 769px) {
  .contact-section-content form {
    box-sizing: border-box;
    width: auto;
    max-width: 500px;
    padding: 30px 0;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: #e3ddf3;
  }
  .contact-section-content form input,
  .contact-section-content form textarea {
    width: 80%;
    max-width: 500px;
    padding: 5px;
    font-size: 2rem;
  }
  .contact-section-content form input:focus,
  .contact-section-content form textarea:focus {
    padding: 25px 20px;
    font-size: 2rem;
  }
  .contact-section-content #location-map {
    width: 80%;
    max-width: 1024px;
  }
  .contact-section-content #location-map .main-description {
    font-weight: 400;
  }
}
/* **************************
 * FOOTER SECTION
 */
footer {
  position: relative;
  height: 100%;
  background: #2c3440;
}
footer .footer-content {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  padding: 15px;
}
footer .footer-content .footer-left,
footer .footer-content .footer-right {
  box-sizing: border-box;
  width: 100%;
  display: block;
  margin-bottom: 2rem;
}
footer .footer-content .footer-left ul {
  margin: 2em auto;
  padding: 0;
  text-align: center;
}
footer .footer-content .footer-left ul li {
  box-sizing: border-box;
  width: 18%;
  display: inline-block;
}
footer .footer-content .footer-left ul li a i {
  font-size: 2.5rem;
  -webkit-transition: color 0.3s ease;
  -moz-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
  transition: color 0.3s ease;
}
footer .footer-content .footer-left ul li a i:hover {
  color: #2ad2d2;
}
footer .footer-content .footer-left ul li:nth-child(1) a i {
  color: #3b5998;
}
footer .footer-content .footer-left ul li:nth-child(2) a i {
  color: #3f729b;
}
footer .footer-content .footer-left ul li:nth-child(3) a i {
  color: #55acee;
}
footer .footer-content .footer-left ul li:nth-child(4) a i {
  color: #cd201f;
}
footer .footer-content .footer-left ul li:nth-child(5) a i {
  color: #dc4e41;
}
footer .footer-content .footer-right p {
  display: block;
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  font-size: 1.5rem;
  font-weight: 300;
  text-align: center;
  color: #fafefe;
}
.footer-top {
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 0;
  right: 0;
  width: 50px;
  height: 50px;
  margin: 0 auto;
  font-size: 2.5rem;
  background: rgba(235,235,235,0.9);
  padding: 0.5rem;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  text-align: center;
  moz-box-shadow: 2px 2px 8px rgba(0,0,0,0.6);
  -webkit-box-shadow: 2px 2px 8px rgba(0,0,0,0.6);
  box-shadow: 2px 2px 8px rgba(0,0,0,0.6);
}
@media (min-width: 769px) {
  footer .footer-content {
    height: 100%;
    margin: 0 auto;
  }
  footer .footer-content .footer-left,
  footer .footer-content .footer-right {
    width: 49%;
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-bottom: 0;
  }
  footer .footer-content .footer-left ul {
    margin: 0;
  }
  footer .footer-content .footer-left ul li {
    width: auto;
  }
  footer .footer-content .footer-left ul li a {
    padding: 0 15px;
  }
  footer .footer-content .footer-right p {
    display: inline-block;
    padding: 10px;
    font-size: 1.25rem;
    margin-bottom: 0;
  }
}
