/* Author: Bill Castillo
 * castillobil@gmail.com
 * For Enigma Salon Website - based in Dubai, UAE
 * by Enigma Trading | Enigma Beauty Group
 * Source Files: https://github.com/enigmabeautysalon/enigmabeautysalon.github.io
 */
* {
  box-sizing: border-box;
}
/* VARIABLES
 * 
 ******************************************************/
.grid {
  box-sizing: border-box;
  font-size: 0;
}
.homenaje,
.sub-header #sub-menu ul li a,
footer .footer-content ul li a {
  font-family: 'Homenaje', 'Georgia', 'Arial';
}
.cookie,
.main-topic,
.sub-header .sub-header-title,
#main-title {
  font-family: 'Great Vibes', 'Helvetica';
}
.hind,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
.main-description,
.header-menu #menu-expand,
#sub-title,
#service-button,
#form-content #form-submit,
#location-map .google-map .google-map-overlay {
  font-family: 'Playfair Display', 'Georgia';
}
.para,
table {
  font-family: 'Hind Siliguri', 'Arial';
  font-weight: 300;
}
.box-shadow-thin,
.service-item {
  moz-box-shadow: 0px 2px 2px rgba(0,0,0,0.3);
  -webkit-box-shadow: 0px 2px 2px rgba(0,0,0,0.3);
  box-shadow: 0px 2px 2px rgba(0,0,0,0.3);
}
.box-shadow-1 {
  -webkit-box-shadow: 3px 3px 6px 0px rgba(0,0,0,0.33);
  -moz-box-shadow: 3px 3px 6px 0px rgba(0,0,0,0.33);
  box-shadow: 3px 3px 6px 0px rgba(0,0,0,0.33);
}
.box-shadow-2,
.header-menu #menu-expand {
  -webkit-box-shadow: 2px 2px 4px 0px rgba(0,0,0,0.33);
  -moz-box-shadow: 2px 2px 4px 0px rgba(0,0,0,0.33);
  box-shadow: 2px 2px 4px 0px rgba(0,0,0,0.33);
}
.box-shadow-bottom,
.sub-header .sub-menu-bg {
  -webkit-box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.25);
  -moz-box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.25);
  box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.25);
}
.box-shadow-around,
footer i#go-top:hover {
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.6);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.6);
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.6);
}
.box-shadow-around-2,
.about-gallery #about-gallery {
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.6);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.6);
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.6);
}
.all-5s {
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
}
.all-3s,
.nav-hover a:after,
.sub-header .sub-header-overlay,
.sub-header #sub-menu,
.sub-header #sub-menu ul li a,
.header-menu #main-menu {
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.all-1-5s,
.ghost-button,
.about-gallery #about-gallery li img,
#service-button,
#form-content #form-submit,
.social-media-section #social-media a li,
footer i#go-top {
  -webkit-transition: all 0.15s linear;
  -moz-transition: all 0.15s linear;
  -o-transition: all 0.15s linear;
  transition: all 0.15s linear;
}
.button:hover {
  background: #924992;
  color: #fefaec;
}
.ghost-button,
#service-button,
#form-content #form-submit {
  width: auto;
  min-width: 200px;
  margin: 2em auto;
  text-align: center;
  background: transparent;
  color: #924992;
  border: 1px solid #924992;
  font-size: 1.25em;
  font-family: 'Hind Siliguri';
  -webkit-border-radius: 999em;
  -moz-border-radius: 999em;
  border-radius: 999em;
}
.ghost-button:hover,
#service-button:hover,
#form-content #form-submit:hover {
  background: #924992;
  border: 1px solid #924992;
  color: #fff;
}
.hr-above::before {
  position: absolute;
  display: block;
  content: '';
  width: 10%;
  height: 1px;
  border: 2px solid #924992;
  background: #924992;
  text-align: center;
  margin: 0 auto;
  bottom: -5px;
  left: 0;
  right: 0;
}
.nav-hover a:after {
  position: absolute;
  display: block;
  content: '';
  left: 0;
  right: 0;
  opacity: 0;
  width: auto;
  height: 2px;
  background: #444;
  transform: translateY(100%);
}
.nav-hover a:hover:after {
  opacity: 1;
  transform: translateY(0);
}
a:focus {
  text-decoration: none;
}
body {
  position: relative;
  height: 100%;
  font-size: 100%;
  margin-bottom: 0;
  color: #924992;
  background: #fff;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h1 {
  font-size: 6.316867469879519em;
}
h2 {
  font-size: 3.948192771084338em;
}
h3 {
  font-size: 2.467469879518073em;
}
h4 {
  font-size: 1.542168674698795em;
}
h5 {
  font-size: 0.963855421686747em;
}
h6 {
  font-size: 1em;
}
p {
  font-size: 1.15em;
  font-weight: 300;
  margin-bottom: 1em;
}
#em {
  font-weight: 500;
}
@media (min-width: 769px) {
  h1 {
    font-size: 10.486em;
  }
  h2 {
    font-size: 6.554em;
  }
  h3 {
    font-size: 4.096em;
  }
  h4 {
    font-size: 2.56em;
  }
  h5 {
    font-size: 1.6em;
  }
}
.caption {
  font-size: 1em;
  color: #707070;
}
a:hover,
a:active {
  text-decoration: none;
}
ul {
  list-style: none;
}
ul li {
  display: inline-block;
}
ul li a {
  font-size: 100%;
  font-size: 1em;
  color: #924992;
}
form input,
form textarea,
padding 0.50em {
  font-size: 100%;
  font-size: 1.25em;
  color: #442d7c;
}
form textarea {
  color: #505050;
}
.page-section {
  width: 100%;
  height: 100%;
  z-index: 100;
  background: #fff;
}
.section-content {
  padding: 2em 10px;
  z-index: 150;
}
.main-topic {
  position: relative;
  font-size: 4em;
  text-align: center;
}
.main-description {
  font-size: 1.5em;
  line-height: 1.4;
  text-align: center;
  color: #505050;
  margin-bottom: 1em;
}
@media (min-width: 769px) {
  .section-content {
    padding: 3.5em 15px;
  }
  .main-topic {
    font-size: 6em;
  }
  .main-description {
    font-size: 1.75em;
    line-height: 1.6;
    max-width: 700px;
    margin: 0 auto;
    margin-bottom: 1em;
  }
}
/* *****************************************************
 *
 * --------------- MAIN LAYOUT
 * 
 * *****************************************************/
/* HEADER - INDEX PAGE
 ******************************************************/
.main-header {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  background: #fff;
  z-index: 100;
}
.header-contact {
  position: absolute;
  display: none;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  text-align: center;
}
.header-contact h5 {
  color: #924992;
  display: inline-block;
  width: 49%;
  vertical-align: middle;
}
/* HEADER ALL SUB PAGES
 ******************************************************/
.hamburger-menu {
  position: absolute;
  content: "\f0c9";
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  font-size: 2.5em;
  top: 0;
  left: 0;
  padding: 1em;
  z-index: 2000;
  color: #442d7c;
}
.hamburger-menu:hover {
  cursor: pointer;
}
#mobile-nav {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  text-align: center;
  display: block;
  background: rgba(146,73,146,0.9);
  visibility: hidden;
  opacity: 0;
}
.sub-header {
  position: relative;
  display: table;
  width: 100%;
  height: 300px;
  z-index: 10;
}
.sub-header .sub-header-overlay {
  position: absolute;
  display: block;
  content: '';
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url("../img/background2.jpg");
  background-position: top center;
  background-size: cover;
  background-attachment: fixed;
  opacity: 1;
  z-index: -1;
}
.sub-header:hover .sub-header-overlay {
  opacity: 0.6;
}
.sub-header .sub-header-content {
  position: relative;
  display: table-cell;
  vertical-align: middle;
}
.sub-header .sub-header-title {
  position: relative;
  display: block;
  top: 0;
  text-align: center;
  font-size: 7.5em;
  margin: 0;
  text-shadow: 2px 2px 6px rgba(0,0,0,0.4);
}
.sub-header #sub-menu {
  width: 100%;
  height: auto;
  padding: 0.35em 0;
  z-index: 100;
  background: transparent;
  color: #924992;
}
.sub-header #sub-menu h2 {
  display: none;
}
.sub-header #sub-menu ul {
  margin: 0.35em 0;
  padding: 0;
  text-align: center;
}
.sub-header #sub-menu ul li {
  margin: 0.25em 1em;
}
.sub-header #sub-menu ul li a {
  position: relative;
  padding: 0.5em 0;
  font-size: 2.25em;
}
.sub-header .sub-menu {
  position: relative;
  display: block;
}
.sub-header .sub-menu-bg {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
.logo {
  display: block;
  width: 150px;
  height: auto;
  margin: 0 auto;
  padding: 15px;
}
.logo img {
  width: 100%;
  height: auto;
}
.show {
  display: block;
  max-height: 999em;
}
.header-menu {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  margin: 1em auto;
  text-align: center;
  z-index: 150;
}
.header-menu #menu-expand {
  position: relative;
  display: block;
  width: 90%;
  max-width: 320px;
  margin: 0 auto;
  padding: 0.1em 0.25em;
  font-size: 3em;
  text-decoration: none;
  border: 1px solid #eee;
  z-index: 200;
}
.header-menu #main-menu {
  position: relative;
  display: none;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  top: 100%;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 100%;
  background: #fff;
  max-height: 0;
  z-index: 200;
}
.header-menu #main-menu li {
  position: relative;
  display: block;
  margin: 0.25em 1em;
  z-index: 250;
}
.header-menu #main-menu li a {
  padding: 0.25em 0;
  font-family: 'Hind Siliguri', 'Helvetica', 'Arial';
  font-size: 1rem;
  font-weight: 400;
  text-transform: uppercase;
  z-index: 300;
}
@media (min-width: 769px) {
  .logo {
    width: 225px;
  }
  .header-menu #menu-expand {
    display: none;
  }
  .header-menu #main-menu {
    position: relative;
    display: block;
    margin: 1em 0;
  }
  .header-menu #main-menu li {
    display: inline-block;
  }
  .header-menu #main-menu li a {
    font-size: 1.5rem;
  }
  .mobile-nav-container {
    display: none;
  }
}
/* LANDING PAGE / SECTION 1
 ******************************************************/
.main-section {
  height: 100%;
}
.main-section-content {
  position: relative;
  top: 0;
  transform: translateY(0);
  padding: 3.5em 15px;
}
#main-title {
  font-size: 6em;
  color: #bda3fb;
/*
	-moz-background-clip: text;
	-moz-text-fill-color: transparent;
	background-image linear-gradient(92deg,rgb(124,111,255),rgba(92,169,255,0.60))
	-webkit-background-clip text
	background-clip text
	-webkit-text-fill-color transparent
	-moz-text-fill-color transparent
	-webkit-filter: hue-rotate(60deg);
	-moz-filter: hue-rotate(60deg);
	*/
  text-align: center;
}
#sub-title {
  font-size: 2.5em;
  font-weight: 300;
  text-align: center;
}
@media (min-width: 769px) {
  .main-section {
    height: calc(100vh - 190px);
  }
  .main-section-content {
    top: 35%;
    transform: translateY(-35%);
  }
  #main-title {
    font-size: 8em;
  }
  #sub-title {
    font-size: 4em;
    font-weight: 300;
  }
}
/* ABOUT SECTION / SECTION 2
 ******************************************************/
.about-section {
  position: relative;
  z-index: 10;
  height: 100%;
}
/*
.about-section-overlay
	position absolute
	width 100%
	height 100%
	top 0
	left 0
	right 0
	bottom 0
	background url('../img/background2.jpg')
	background-position top center
	background-size cover
	opacity 0.80
	z-index -1
*/
.main-description-content {
  position: relative;
  padding: 30px 0;
}
.main-description-content p {
  margin-bottom: 0;
}
.main-description-content::before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  right: 0;
  width: 250px;
  margin: 0 auto;
  text-align: center;
  height: 2px;
  background: #dafa8b;
  z-index: 50;
}
.main-description-content::after {
  position: absolute;
  content: '';
  left: 0;
  right: 0;
  bottom: 0;
  width: 250px;
  margin: 0 auto;
  text-align: center;
  height: 2px;
  background: #dafa8b;
  z-index: 50;
}
.main-description-content p {
  font-size: 2rem;
  font-weight: 400;
  font-family: 'Hind Siliguri';
}
.about-gallery {
  display: block;
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
  margin-top: 75px;
  text-align: center;
}
.about-gallery #about-gallery {
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 0;
}
.about-gallery #about-gallery li {
  position: relative;
  box-sizing: border-box;
  width: 20%;
  display: inline-block;
  padding: 0 0.25em;
}
.about-gallery #about-gallery li:hover img {
  opacity: 0.6;
}
.about-gallery #about-gallery li img {
  width: 100%;
  max-width: 250px;
  height: auto;
  z-index: 50;
}
.about-gallery #about-gallery li:hover {
  cursor: pointer;
}
/* TEAM SECTION / SECTION 3
 ******************************************************/
.team-section {
  width: 90%;
  margin: 0 auto;
}
.team #team {
  width: 100%;
  margin: 75px 0;
  padding: 0;
  text-align: center;
}
.team #team h2 {
  font-size: 3rem;
  margin-top: 1em;
  color: #fa8bda;
}
.team #team li {
  display: inline-block;
  box-sizing: border-box;
  width: auto;
  max-width: 200px;
  height: auto;
  margin: 1em;
}
.team #team li a {
  width: 100%;
  height: 100%;
  text-align: center;
  margin: 0 auto;
}
.team #team li a img {
  width: 100%;
  max-width: 175px;
  margin: 0 auto;
/*
					-webkit-box-shadow: 0px 0px 0px 6px $3;
					-moz-box-shadow: 0px 0px 0px 6px $3;
					box-shadow: 0px 0px 0px 6px $3;
					*/
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
/* SERVICES SECTION / SECTION 4
 ******************************************************/
.main-services .main-services-content p {
  margin-bottom: 0;
}
.service-tables {
  width: 90%;
  height: 100%;
  margin: 2em auto;
  text-align: center;
}
.service-tables .owl-wrapper-outer {
  padding: 15px 0;
}
.service-item {
  display: inline-block;
  width: auto;
  min-width: 250px;
  height: 100%;
  min-height: 400px;
  margin: 0.25em auto;
  text-align: center;
  background: #f8f8f8;
}
table {
  font-size: 100%;
  width: 100%;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  height: 100%;
}
table thead {
  width: 100%;
  padding: 0.15em 0.35em;
  font-size: 2.25em;
  font-weight: 400;
  text-align: center;
  color: #fefaec;
  background: #fa8bda;
}
table thead tr td {
  padding: 0.25em 0.5em;
  text-align: center;
}
table tbody {
  width: 100%;
  padding: 1em;
  margin: 1em;
  font-weight: 400;
  font-size: 1.35em;
  text-align: left;
}
table tbody tr {
  border-bottom: 1px solid #ddd;
}
table tbody tr td {
  padding: 0.35em;
  color: #505050;
}
table tbody tr td a {
  text-decoration: underline;
}
table tbody tr:nth-last-child(1) {
  border-bottom: 1px solid transparent;
}
table tbody td:nth-child(1) {
  box-sizing: border-box;
  width: 70%;
  padding-left: 0.5em;
}
table tbody td:nth-child(2) {
  box-sizing: border-box;
  width: 30%;
}
.owl-theme .owl-buttons i {
  font-size: 2em;
  color: #442d7c;
}
.owl-theme .owl-controls .owl-buttons div {
  top: 35%;
  tranform: translateY(35%);
  position: absolute;
  background: rgba(255,255,255,0);
  opacity: 0.8;
}
.owl-theme .owl-controls .owl-buttons div i {
  padding: 0.1em;
}
.owl-theme .owl-controls .owl-buttons .owl-prev {
  left: -30px;
  padding-left: 0.5em;
}
.owl-theme .owl-controls .owl-buttons .owl-next {
  right: -30px;
  padding-right: 0.5em;
}
#service-button {
  position: relative;
  width: 200px;
  display: block;
  padding: 0.5em;
  font-size: 2em;
}
@media (min-width: 769px) {
  .service-tables {
    width: 90%;
  }
  .service-item {
    min-width: 300px;
    min-height: 500px;
  }
  .service-item table thead {
    width: 100%;
    padding: 0.25em 0.5em;
  }
  .service-item table thead tr td {
    text-align: left;
  }
  .service-item table tbody {
    font-size: 1.75em;
  }
  .service-item table tbody tr td {
    padding: 0.35em;
  }
  .service-item table tbody tr td:nth-child(1) {
    padding-left: 1em;
  }
  .owl-theme i,
  .owl-buttons i {
    font-size: 5em;
    padding: 0.25em;
  }
  .owl-theme i .owl-controls .div,
  .owl-buttons i .owl-controls .div {
    background: rgba(255,255,255,0.6);
  }
  .owl-theme .owl-controls .owl-buttons .owl-prev {
    left: -50px;
    padding-left: 0.5em;
  }
  .owl-theme .owl-controls .owl-buttons .owl-next {
    right: -50px;
    padding-right: 0.5em;
  }
}
/* BRANDS SECTION / SECTION 6
 ******************************************************/
.main-brands {
  background: #f2f2f2;
  height: 100%;
  min-height: 50vh;
}
.main-brands #brands-slider {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  padding: 2.5em 0;
}
.main-brands #brands-slider .item {
  margin: 0 1em;
}
/* CONTACT AND LOCATION SECTION / SECTION 6
 ******************************************************/
/*
#form
	margin-bottom 5em

#form-content
	display block
	form
		width 80%;
		max-width 768px
		margin 1em auto
		text-align center
		display block
		@extend .hind
		font-size 1.50em
		input,
		textarea
			padding 0.50em 0.750em
			border 1px solid #ccc
			color $text-color
		input#form-name,
		input#form-email,
		input#form-mobile
			position relative
			display block
			width 100%
			margin 1em auto
			box-sizing border-box
		textarea
			display block
			width 100%;
			margin 1em auto
			min-height 150px
		input#form-submit
			display block
			margin 1em auto
			text-align center
			@extend .ghost-button

#location-map
	position relative
	.google-map
		position relative
		margin 2em auto
		iframe
			display block
			width 100%
			height 100%
			min-height 350px
			opacity 0.7
		// Set a touch require to view map to prevent scroll jacking
		.google-map-overlay
			position absolute
			display block
			width 100%
			height 100%
			top 0
			left 0
			right 0
			bottom 0
			z-index 20
			background rgba(0,0,0,0.35)
			color $white-color
			font-size 3em
			text-align center
			@extend .hind
			&:hover
				cursor pointer

@media (min-width: 769px)
	#form
		margin-bottom 10em
	#location-map
		display block
		width 100%
		height 100%
		margin 2em 0
		.google-map
			iframe
			min-height 200px
			.google-map-overlay
				display none
	input#form-name,
	input#form-email,
	input#form-mobile
		display inline-block
		width 30%
		margin 1em 1.5% 1em 0
*/
.contact-section {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}
.contact-section .contact-section-content {
  padding: 0;
}
.contact-section h2 {
  margin: 0;
}
#form,
#location-map {
  display: block;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0;
}
#form-main-content,
#location-content {
  padding: 3em 15px;
}
#form-content {
  margin: 0 auto;
  text-align: center;
}
#form-content input,
#form-content textarea {
  display: block;
  padding: 0.5em;
  width: 90%;
  max-width: 500px;
  margin: 0.5em auto;
  font-size: 1.5em;
  border: 1px solid #ddd;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  color: #924992;
  box-shadow: 0;
}
#form-content textarea {
  min-height: 100px;
}
#form-content #form-submit {
  font-size: 1.5em;
  border: 1px solid #924992;
  color: #924992;
  margin: 0 auto;
  padding: 0.5em;
}
#location-map .google-map {
  position: relative;
}
#location-map .google-map .google-map-overlay {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 20;
  background: rgba(0,0,0,0.35);
  color: #fefaec;
  font-size: 3em;
  text-align: center;
}
#location-map .google-map .google-map-overlay:hover {
  cursor: pointer;
}
#location-map .google-map iframe {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 350px;
}
#location-map .main-description {
  display: block;
  padding: 0.5em 0;
  font-size: 1.75em;
}
@media (min-width: 769px) {
  .contact-section {
    font-size: 0;
    height: 100%;
    min-height: 80vh;
  }
  .contact-section .contact-section-content {
    padding: 5em 0;
  }
  #form,
  #location-map {
    display: inline-block;
    width: 50%;
    height: 100%;
    margin: 0 auto;
    padding: 0;
    text-align: center;
    vertical-align: top;
    font-size: 10px;
  }
  #form {
    height: 80vh;
  }
  #form-content {
    position: relative;
    top: 50%;
    padding: 1em 0;
  }
  #form-content input,
  #form-content textarea {
    padding: 1em;
    margin: 0.5 auto;
    width: 80%;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
  }
  #form-content #form-submit {
    width: 50%;
    max-width: 200px;
    background: transparent;
    font-size: 2em;
  }
  #location-map {
    height: 100%;
  }
  #location-map #location-content .google-map-overlay,
  #location-map .google-map .google-map-overlay {
    display: none;
  }
  #location-map #location-content iframe,
  #location-map .google-map iframe {
    position: relative;
    width: 100%;
    height: 80vh;
  }
  #location-map .main-description {
    display: none;
  }
}
/* SOCIAL MEDIA SECTION / SECTION 7
 ******************************************************/
.social-media-section {
  height: 100%;
  margin-bottom: 1em;
  background: url("../img/crossword.png") repeat;
}
.social-media-section .social-media-content {
  padding: 5em 15px;
}
.social-media-section #social-media {
  display: block;
  width: 80%;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}
.social-media-section #social-media a li {
  display: inline-block;
  opacity: 1;
  margin: 0 0.75em;
  width: 40px;
  height: 40px;
}
.social-media-section #social-media a li:hover {
  opacity: 0.7;
}
#social-media a:nth-child(1) li {
  background: url("../img/social-icons/fb.png");
  background-size: cover;
  background-position: center;
}
#social-media a:nth-child(2) li {
  background: url("../img/social-icons/instagram.png");
  background-size: cover;
  background-position: center;
}
#social-media a:nth-child(3) li {
  background: url("../img/social-icons/twitter.png");
  background-size: cover;
  background-position: center;
}
#social-media a:nth-child(4) li {
  background: url("../img/social-icons/youtube.png");
  background-size: cover;
  background-position: center;
}
#social-media a:nth-child(5) li {
  background: url("../img/social-icons/googleplus.png");
  background-size: cover;
  background-position: center;
}
@media (min-width: 769px) {
  #social-media a li {
    width: 50px;
    height: 50px;
  }
}
/* FOOTER SECTION / SECTION LAST
 ******************************************************/
footer {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  font-size: 100%;
  text-align: center;
  z-index: 100;
  background: #dea1f9;
}
footer i#go-top {
  position: absolute;
  width: 50px;
  height: 50px;
  top: -25px;
  left: 0;
  right: 0;
  text-align: center;
  margin: 0 auto;
  color: #fefaec;
  border: 1px solid #442d7c;
  background: #442d7c;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  padding: 1.25em;
  z-index: 100;
}
footer i#go-top:before {
  font-size: 1.75em;
}
footer .footer-content {
  position: relative;
  display: block;
  line-height: 1.6;
  padding: 2.5em;
}
footer .footer-content ul {
  padding: 0;
}
footer .footer-content ul li {
  position: relative;
  display: block;
  margin: 0 0.25em;
}
footer .footer-content ul li a {
  font-size: 2em;
  padding: 0 0.5em;
  color: #442d7c;
}
@media (min-width: 769px) {
  footer {
    display: table;
    height: 100px;
  }
  footer .footer-content {
    display: table-cell;
    vertical-align: middle;
    padding: 0;
    transform: translateY(0);
  }
  footer .footer-content ul {
    margin: 0;
  }
  footer .footer-content ul li {
    display: inline-block;
    margin: 0 1em;
  }
  footer .footer-content ul li a {
    padding: 0.25em 0;
  }
}
/* SUB SECTIONS  / SERVICES PAGE
 ******************************************************/
.sub-section {
  position: relative;
  width: 100%;
  height: 100%;
  line-height: 1.6;
  z-index: -1;
}
.sub-section .sub-section-content {
  width: 80%;
  max-width: 1024px;
  margin: 0 auto;
  padding: 3em 15px;
}
.sub-section .sub-section-content p {
  font-size: 2.5em;
}
/* FIXES
 *
 */
.chocolat-img {
  width: 100%;
}
