/* FLEXBOX GRID FRAMEWORK */

.container-fluid{margin-right:auto;margin-left:auto;padding-right:2rem;padding-left:2rem}.row{box-sizing:border-box;display:-webkit-flex;display:-ms-flexbox;display:-webkit-box;display:flex;-webkit-flex:0 1 auto;-ms-flex:0 1 auto;-webkit-box-flex:0;flex:0 1 auto;-webkit-flex-direction:row;-ms-flex-direction:row;-webkit-box-orient:horizontal;-webkit-box-direction:normal;flex-direction:row;-webkit-flex-wrap:wrap;-ms-flex-wrap:wrap;flex-wrap:wrap;margin-right:0;margin-left:0}.row.reverse{-webkit-flex-direction:row-reverse;-ms-flex-direction:row-reverse;-webkit-box-orient:horizontal;-webkit-box-direction:reverse;flex-direction:row-reverse}.col.reverse{-webkit-flex-direction:column-reverse;-ms-flex-direction:column-reverse;-webkit-box-orient:vertical;-webkit-box-direction:reverse;flex-direction:column-reverse}.col-xs,.col-xs-1,.col-xs-10,.col-xs-11,.col-xs-12,.col-xs-2,.col-xs-3,.col-xs-4,.col-xs-5,.col-xs-6,.col-xs-7,.col-xs-8,.col-xs-9{box-sizing:border-box;-webkit-flex:0 0 auto;-ms-flex:0 0 auto;-webkit-box-flex:0;flex:0 0 auto;padding-right:1rem;padding-left:1rem}.col-xs{-webkit-flex-grow:1;-ms-flex-positive:1;-webkit-box-flex:1;flex-grow:1;-ms-flex-preferred-size:0;-webkit-flex-basis:0;flex-basis:0;max-width:100%}.col-xs-1{-ms-flex-preferred-size:8.333%;-webkit-flex-basis:8.333%;flex-basis:8.333%;max-width:8.333%}.col-xs-2{-ms-flex-preferred-size:16.667%;-webkit-flex-basis:16.667%;flex-basis:16.667%;max-width:16.667%}.col-xs-3{-ms-flex-preferred-size:25%;-webkit-flex-basis:25%;flex-basis:25%;max-width:25%}.col-xs-4{-ms-flex-preferred-size:33.333%;-webkit-flex-basis:33.333%;flex-basis:33.333%;max-width:33.333%}.col-xs-5{-ms-flex-preferred-size:41.667%;-webkit-flex-basis:41.667%;flex-basis:41.667%;max-width:41.667%}.col-xs-6{-ms-flex-preferred-size:50%;-webkit-flex-basis:50%;flex-basis:50%;max-width:50%}.col-xs-7{-ms-flex-preferred-size:58.333%;-webkit-flex-basis:58.333%;flex-basis:58.333%;max-width:58.333%}.col-xs-8{-ms-flex-preferred-size:66.667%;-webkit-flex-basis:66.667%;flex-basis:66.667%;max-width:66.667%}.col-xs-9{-ms-flex-preferred-size:75%;-webkit-flex-basis:75%;flex-basis:75%;max-width:75%}.col-xs-10{-ms-flex-preferred-size:83.333%;-webkit-flex-basis:83.333%;flex-basis:83.333%;max-width:83.333%}.col-xs-11{-ms-flex-preferred-size:91.667%;-webkit-flex-basis:91.667%;flex-basis:91.667%;max-width:91.667%}.col-xs-12{-ms-flex-preferred-size:100%;-webkit-flex-basis:100%;flex-basis:100%;max-width:100%}.col-xs-offset-1{margin-left:8.333%}.col-xs-offset-2{margin-left:16.667%}.col-xs-offset-3{margin-left:25%}.col-xs-offset-4{margin-left:33.333%}.col-xs-offset-5{margin-left:41.667%}.col-xs-offset-6{margin-left:50%}.col-xs-offset-7{margin-left:58.333%}.col-xs-offset-8{margin-left:66.667%}.col-xs-offset-9{margin-left:75%}.col-xs-offset-10{margin-left:83.333%}.col-xs-offset-11{margin-left:91.667%}.start-xs{-webkit-justify-content:flex-start;-ms-flex-pack:start;-webkit-box-pack:start;justify-content:flex-start;text-align:start}.center-xs{-webkit-justify-content:center;-ms-flex-pack:center;-webkit-box-pack:center;justify-content:center;text-align:center}.end-xs{-webkit-justify-content:flex-end;-ms-flex-pack:end;-webkit-box-pack:end;justify-content:flex-end;text-align:end}.top-xs{-webkit-align-items:flex-start;-ms-flex-align:start;-webkit-box-align:start;align-items:flex-start}.middle-xs{-webkit-align-items:center;-ms-flex-align:center;-webkit-box-align:center;align-items:center}.bottom-xs{-webkit-align-items:flex-end;-ms-flex-align:end;-webkit-box-align:end;align-items:flex-end}.around-xs{-webkit-justify-content:space-around;-ms-flex-pack:distribute;justify-content:space-around}.between-xs{-webkit-justify-content:space-between;-ms-flex-pack:justify;-webkit-box-pack:justify;justify-content:space-between}.first-xs{-webkit-order:-1;-ms-flex-order:-1;-webkit-box-ordinal-group:0;order:-1}.last-xs{-webkit-order:1;-ms-flex-order:1;-webkit-box-ordinal-group:2;order:1}@media only screen and (min-width:48em){.container{width:46rem}.col-sm,.col-sm-1,.col-sm-10,.col-sm-11,.col-sm-12,.col-sm-2,.col-sm-3,.col-sm-4,.col-sm-5,.col-sm-6,.col-sm-7,.col-sm-8,.col-sm-9{box-sizing:border-box;-webkit-flex:0 0 auto;-ms-flex:0 0 auto;-webkit-box-flex:0;flex:0 0 auto;padding-right:1rem;padding-left:1rem}.col-sm{-webkit-flex-grow:1;-ms-flex-positive:1;-webkit-box-flex:1;flex-grow:1;-ms-flex-preferred-size:0;-webkit-flex-basis:0;flex-basis:0;max-width:100%}.col-sm-1{-ms-flex-preferred-size:8.333%;-webkit-flex-basis:8.333%;flex-basis:8.333%;max-width:8.333%}.col-sm-2{-ms-flex-preferred-size:16.667%;-webkit-flex-basis:16.667%;flex-basis:16.667%;max-width:16.667%}.col-sm-3{-ms-flex-preferred-size:25%;-webkit-flex-basis:25%;flex-basis:25%;max-width:25%}.col-sm-4{-ms-flex-preferred-size:33.333%;-webkit-flex-basis:33.333%;flex-basis:33.333%;max-width:33.333%}.col-sm-5{-ms-flex-preferred-size:41.667%;-webkit-flex-basis:41.667%;flex-basis:41.667%;max-width:41.667%}.col-sm-6{-ms-flex-preferred-size:50%;-webkit-flex-basis:50%;flex-basis:50%;max-width:50%}.col-sm-7{-ms-flex-preferred-size:58.333%;-webkit-flex-basis:58.333%;flex-basis:58.333%;max-width:58.333%}.col-sm-8{-ms-flex-preferred-size:66.667%;-webkit-flex-basis:66.667%;flex-basis:66.667%;max-width:66.667%}.col-sm-9{-ms-flex-preferred-size:75%;-webkit-flex-basis:75%;flex-basis:75%;max-width:75%}.col-sm-10{-ms-flex-preferred-size:83.333%;-webkit-flex-basis:83.333%;flex-basis:83.333%;max-width:83.333%}.col-sm-11{-ms-flex-preferred-size:91.667%;-webkit-flex-basis:91.667%;flex-basis:91.667%;max-width:91.667%}.col-sm-12{-ms-flex-preferred-size:100%;-webkit-flex-basis:100%;flex-basis:100%;max-width:100%}.col-sm-offset-1{margin-left:8.333%}.col-sm-offset-2{margin-left:16.667%}.col-sm-offset-3{margin-left:25%}.col-sm-offset-4{margin-left:33.333%}.col-sm-offset-5{margin-left:41.667%}.col-sm-offset-6{margin-left:50%}.col-sm-offset-7{margin-left:58.333%}.col-sm-offset-8{margin-left:66.667%}.col-sm-offset-9{margin-left:75%}.col-sm-offset-10{margin-left:83.333%}.col-sm-offset-11{margin-left:91.667%}.start-sm{-webkit-justify-content:flex-start;-ms-flex-pack:start;-webkit-box-pack:start;justify-content:flex-start;text-align:start}.center-sm{-webkit-justify-content:center;-ms-flex-pack:center;-webkit-box-pack:center;justify-content:center;text-align:center}.end-sm{-webkit-justify-content:flex-end;-ms-flex-pack:end;-webkit-box-pack:end;justify-content:flex-end;text-align:end}.top-sm{-webkit-align-items:flex-start;-ms-flex-align:start;-webkit-box-align:start;align-items:flex-start}.middle-sm{-webkit-align-items:center;-ms-flex-align:center;-webkit-box-align:center;align-items:center}.bottom-sm{-webkit-align-items:flex-end;-ms-flex-align:end;-webkit-box-align:end;align-items:flex-end}.around-sm{-webkit-justify-content:space-around;-ms-flex-pack:distribute;justify-content:space-around}.between-sm{-webkit-justify-content:space-between;-ms-flex-pack:justify;-webkit-box-pack:justify;justify-content:space-between}.first-sm{-webkit-order:-1;-ms-flex-order:-1;-webkit-box-ordinal-group:0;order:-1}.last-sm{-webkit-order:1;-ms-flex-order:1;-webkit-box-ordinal-group:2;order:1}}@media only screen and (min-width:62em){.container{width:61rem}.col-md,.col-md-1,.col-md-10,.col-md-11,.col-md-12,.col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6,.col-md-7,.col-md-8,.col-md-9{box-sizing:border-box;-webkit-flex:0 0 auto;-ms-flex:0 0 auto;-webkit-box-flex:0;flex:0 0 auto;padding-right:1rem;padding-left:1rem}.col-md{-webkit-flex-grow:1;-ms-flex-positive:1;-webkit-box-flex:1;flex-grow:1;-ms-flex-preferred-size:0;-webkit-flex-basis:0;flex-basis:0;max-width:100%}.col-md-1{-ms-flex-preferred-size:8.333%;-webkit-flex-basis:8.333%;flex-basis:8.333%;max-width:8.333%}.col-md-2{-ms-flex-preferred-size:16.667%;-webkit-flex-basis:16.667%;flex-basis:16.667%;max-width:16.667%}.col-md-3{-ms-flex-preferred-size:25%;-webkit-flex-basis:25%;flex-basis:25%;max-width:25%}.col-md-4{-ms-flex-preferred-size:33.333%;-webkit-flex-basis:33.333%;flex-basis:33.333%;max-width:33.333%}.col-md-5{-ms-flex-preferred-size:41.667%;-webkit-flex-basis:41.667%;flex-basis:41.667%;max-width:41.667%}.col-md-6{-ms-flex-preferred-size:50%;-webkit-flex-basis:50%;flex-basis:50%;max-width:50%}.col-md-7{-ms-flex-preferred-size:58.333%;-webkit-flex-basis:58.333%;flex-basis:58.333%;max-width:58.333%}.col-md-8{-ms-flex-preferred-size:66.667%;-webkit-flex-basis:66.667%;flex-basis:66.667%;max-width:66.667%}.col-md-9{-ms-flex-preferred-size:75%;-webkit-flex-basis:75%;flex-basis:75%;max-width:75%}.col-md-10{-ms-flex-preferred-size:83.333%;-webkit-flex-basis:83.333%;flex-basis:83.333%;max-width:83.333%}.col-md-11{-ms-flex-preferred-size:91.667%;-webkit-flex-basis:91.667%;flex-basis:91.667%;max-width:91.667%}.col-md-12{-ms-flex-preferred-size:100%;-webkit-flex-basis:100%;flex-basis:100%;max-width:100%}.col-md-offset-1{margin-left:8.333%}.col-md-offset-2{margin-left:16.667%}.col-md-offset-3{margin-left:25%}.col-md-offset-4{margin-left:33.333%}.col-md-offset-5{margin-left:41.667%}.col-md-offset-6{margin-left:50%}.col-md-offset-7{margin-left:58.333%}.col-md-offset-8{margin-left:66.667%}.col-md-offset-9{margin-left:75%}.col-md-offset-10{margin-left:83.333%}.col-md-offset-11{margin-left:91.667%}.start-md{-webkit-justify-content:flex-start;-ms-flex-pack:start;-webkit-box-pack:start;justify-content:flex-start;text-align:start}.center-md{-webkit-justify-content:center;-ms-flex-pack:center;-webkit-box-pack:center;justify-content:center;text-align:center}.end-md{-webkit-justify-content:flex-end;-ms-flex-pack:end;-webkit-box-pack:end;justify-content:flex-end;text-align:end}.top-md{-webkit-align-items:flex-start;-ms-flex-align:start;-webkit-box-align:start;align-items:flex-start}.middle-md{-webkit-align-items:center;-ms-flex-align:center;-webkit-box-align:center;align-items:center}.bottom-md{-webkit-align-items:flex-end;-ms-flex-align:end;-webkit-box-align:end;align-items:flex-end}.around-md{-webkit-justify-content:space-around;-ms-flex-pack:distribute;justify-content:space-around}.between-md{-webkit-justify-content:space-between;-ms-flex-pack:justify;-webkit-box-pack:justify;justify-content:space-between}.first-md{-webkit-order:-1;-ms-flex-order:-1;-webkit-box-ordinal-group:0;order:-1}.last-md{-webkit-order:1;-ms-flex-order:1;-webkit-box-ordinal-group:2;order:1}}@media only screen and (min-width:75em){.container{width:71rem}.col-lg,.col-lg-1,.col-lg-10,.col-lg-11,.col-lg-12,.col-lg-2,.col-lg-3,.col-lg-4,.col-lg-5,.col-lg-6,.col-lg-7,.col-lg-8,.col-lg-9{box-sizing:border-box;-webkit-flex:0 0 auto;-ms-flex:0 0 auto;-webkit-box-flex:0;flex:0 0 auto;padding-right:1rem;padding-left:1rem}.col-lg{-webkit-flex-grow:1;-ms-flex-positive:1;-webkit-box-flex:1;flex-grow:1;-ms-flex-preferred-size:0;-webkit-flex-basis:0;flex-basis:0;max-width:100%}.col-lg-1{-ms-flex-preferred-size:8.333%;-webkit-flex-basis:8.333%;flex-basis:8.333%;max-width:8.333%}.col-lg-2{-ms-flex-preferred-size:16.667%;-webkit-flex-basis:16.667%;flex-basis:16.667%;max-width:16.667%}.col-lg-3{-ms-flex-preferred-size:25%;-webkit-flex-basis:25%;flex-basis:25%;max-width:25%}.col-lg-4{-ms-flex-preferred-size:33.333%;-webkit-flex-basis:33.333%;flex-basis:33.333%;max-width:33.333%}.col-lg-5{-ms-flex-preferred-size:41.667%;-webkit-flex-basis:41.667%;flex-basis:41.667%;max-width:41.667%}.col-lg-6{-ms-flex-preferred-size:50%;-webkit-flex-basis:50%;flex-basis:50%;max-width:50%}.col-lg-7{-ms-flex-preferred-size:58.333%;-webkit-flex-basis:58.333%;flex-basis:58.333%;max-width:58.333%}.col-lg-8{-ms-flex-preferred-size:66.667%;-webkit-flex-basis:66.667%;flex-basis:66.667%;max-width:66.667%}.col-lg-9{-ms-flex-preferred-size:75%;-webkit-flex-basis:75%;flex-basis:75%;max-width:75%}.col-lg-10{-ms-flex-preferred-size:83.333%;-webkit-flex-basis:83.333%;flex-basis:83.333%;max-width:83.333%}.col-lg-11{-ms-flex-preferred-size:91.667%;-webkit-flex-basis:91.667%;flex-basis:91.667%;max-width:91.667%}.col-lg-12{-ms-flex-preferred-size:100%;-webkit-flex-basis:100%;flex-basis:100%;max-width:100%}.col-lg-offset-1{margin-left:8.333%}.col-lg-offset-2{margin-left:16.667%}.col-lg-offset-3{margin-left:25%}.col-lg-offset-4{margin-left:33.333%}.col-lg-offset-5{margin-left:41.667%}.col-lg-offset-6{margin-left:50%}.col-lg-offset-7{margin-left:58.333%}.col-lg-offset-8{margin-left:66.667%}.col-lg-offset-9{margin-left:75%}.col-lg-offset-10{margin-left:83.333%}.col-lg-offset-11{margin-left:91.667%}.start-lg{-webkit-justify-content:flex-start;-ms-flex-pack:start;-webkit-box-pack:start;justify-content:flex-start;text-align:start}.center-lg{-webkit-justify-content:center;-ms-flex-pack:center;-webkit-box-pack:center;justify-content:center;text-align:center}.end-lg{-webkit-justify-content:flex-end;-ms-flex-pack:end;-webkit-box-pack:end;justify-content:flex-end;text-align:end}.top-lg{-webkit-align-items:flex-start;-ms-flex-align:start;-webkit-box-align:start;align-items:flex-start}.middle-lg{-webkit-align-items:center;-ms-flex-align:center;-webkit-box-align:center;align-items:center}.bottom-lg{-webkit-align-items:flex-end;-ms-flex-align:end;-webkit-box-align:end;align-items:flex-end}.around-lg{-webkit-justify-content:space-around;-ms-flex-pack:distribute;justify-content:space-around}.between-lg{-webkit-justify-content:space-between;-ms-flex-pack:justify;-webkit-box-pack:justify;justify-content:space-between}.first-lg{-webkit-order:-1;-ms-flex-order:-1;-webkit-box-ordinal-group:0;order:-1}.last-lg{-webkit-order:1;-ms-flex-order:1;-webkit-box-ordinal-group:2;order:1}}


/* Animations */

@keyframes pulse {
  0%   { transform: scale(1); }
  50% { transform: scale(0.8); }
  100% { transform: scale(1); }
}

@keyframes spin {
  0%   { transform: rotate(30deg); }
  100% { transform: rotate(210deg); }
}
@keyframes spin2 {
  0%   { transform: rotate(150deg); }
  100% { transform: rotate(330deg); }
}

/* End Animations */

/* Resets, Clears & Defaults */

*, *:after, *:before {
    box-sizing: border-box;
}

body, input, textarea{
    padding: 0; margin: 0;
    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
    line-height: 30px;
    color: #333;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
input:focus, textarea:focus{
    outline: 0;
}

h1, h2, h3, p{
    margin: 0 0 20px 0;
    position: relative;
    z-index: 6;
}

h1{
    font-size: 40px;
    line-height: 1;
    font-weight: 700;
}

h2{
    font-size: 28px;
    line-height: 1.6;
    font-weight: 300;
}

h3{
    font-size: 20px;
    font-weight: 700;
}

@media (min-width: 600px) {
    h1 {
        font-size: 54px;
    }

    h1.main-h1 {
        font-size: 84px;
    }
}

a {
    color: #88BEF5;
    text-decoration: none;
}


a.a-link {
    position: relative;
    padding: 5px;
    color: #88BEF5;
    white-space: nowrap;
    text-decoration: none;
    -webkit-transition: all 0.30s ease;
    -moz-transition: all 0.30s ease;
    -o-transition: all 0.30s ease;
    transition: all 0.30s ease;
}

a.a-link::after{
    position: absolute;
    content: '';
    bottom: 2px;
    left: 0;
    right: 0;
    width: 100%;
    height: 2px;
    background: #88BEF5;
    -webkit-transition: all 0.30s ease;
    -moz-transition: all 0.30s ease;
    -o-transition: all 0.30s ease;
    transition: all 0.30s ease;
    z-index: -1;
}

a.a-link:hover {
    color: #fff;
    text-decoration: none;
    z-index: 10;
}

a.a-link:hover::after{
    height: 90%;
}

img{
    max-width: 100%;
}

::selection {
  background: #ff5252; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #ff5252; /* Gecko Browsers */
}

/* End Resets, Clears & Defaults */


/* Shadows */


.z-depth-0 {
  box-shadow: none !important;
}
.z-depth-1{
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.z-depth-1-half{
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}
.z-depth-2{
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.z-depth-3{
  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
.z-depth-4{
  box-shadow: 0 16px 28px 0 rgba(0, 0, 0, 0.22), 0 25px 55px 0 rgba(0, 0, 0, 0.21);
}
.z-depth-5{
  box-shadow: 0 27px 24px 0 rgba(0, 0, 0, 0.2), 0 40px 77px 0 rgba(0, 0, 0, 0.22);
}

.hoverable {
  transition: box-shadow .25s;
  box-shadow: 0;
}

.hoverable:hover {
  transition: box-shadow .25s;
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  z-index: 10;
}

/* End Shadows */

.container{
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}
.container .container-feature-p {
    position: relative;
    font-family: 'Merriweather','Times New Roman',serif;
    font-size: 18px;
    line-height: 36px;
    margin-bottom: 60px;
    text-align: center;
    color: #555;
}
.container .container-feature-p::after {
    position: absolute;
    display: none;
    content: '';
    bottom: -20px;
    left: 0;
    right: 0;
    width: 10%;
    height: 2px;
    margin: 0 auto;
    background: #4b007d;
}

.container:after{
    content: "";
    display: block;
    clear: both;
}

section{
    padding: 100px 20px;
}

section.map {
    position: relative;
    padding: 0;
    line-height: 0;
}

section.map h2 {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
}

.btn {
    position: relative;
    display: inline-block;
    padding: 0.50em 1em;
    color: #f6f6f6;
    border-radius: 0;
    cursor: pointer;

    font-size: 1em;
    text-transform: uppercase;
    letter-spacing: 1px;

    background: rgba(75,0,125,0.1);
    background: linear-gradient( 135deg, rgba(255,64,129,1), rgba(75,0,125,1));
    background: -webkit-linear-gradient( 135deg, rgba(255,64,129,1), rgba(75,0,125,1));  
    background: -moz-linear-gradient( 135deg, rgba(255,64,129,1), rgba(75,0,125,1));  
    background: -o-linear-gradient( 135deg, rgba(255,64,129,1), rgba(75,0,125,1));
    opacity: 0.60;

    -webkit-transition: all 0.30s linear;
    -moz-transition: all 0.30s linear;
    -o-transition: all 0.30s linear;
    transition: all 0.30s linear;
}

.btn::before {
  position: absolute;
  content: '';
  top: -20%;
  left: -5%;
  width: 110%;
  height: 140%;
  border: 1px solid #999;

  -webkit-transition: all 0.30s linear;
  -moz-transition: all 0.30s linear;
  -o-transition: all 0.30s linear;
  transition: all 0.30s linear;
}

.btn:hover {
  opacity: 0.85;
  /*
  background: linear-gradient( 45deg, rgba(255,64,129,1), rgba(75,0,125,1));
  background: -webkit-linear-gradient( 45deg, rgba(255,64,129,1), rgba(75,0,125,1));  
  background: -moz-linear-gradient( 45deg, rgba(255,64,129,1), rgba(75,0,125,1));  
  background: -o-linear-gradient( 45deg, rgba(255,64,129,1), rgba(75,0,125,1));
  */
}

.btn:hover.btn::before {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 1px solid transparent;
}

.btn.smaller {
  padding: 0.250em 0.50em;
}

.center-btn {
    position: relative;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
}

.overview-btn {
    left: 0;
    margin: 15px auto;
    transform: translateX(0);
}

.btn .fa {
    margin-left: 10px;
}


header{
    background: rgba(75, 0, 125, 0.80);
    padding: 0 20px;
    position: fixed;
    top: 0; left: 0;
    width: 100%;
    z-index: 200;
}
header .logo{
    float: left;
    font-family: 'PT Sans', sans-serif;
    padding: 15px 0;
    color: #fff;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    margin: 0;
}
header .logo .fa{
    font-size: 16px;
    position: relative;
    top: -1px;
    margin-right: 7px;
}
header .logo img {
    max-width: 50px;
    height: auto;
}
header nav{
    float: right;
}
header nav ul{
    padding: 0;
    margin: 0;
}
header nav ul li{
    display: inline-block;
    float: left;
}
header nav ul li a{
    display: inline-block;
    padding: 10px 20px;
    color: #fff;
    transition: 200ms;
}
header nav ul li a:hover, header nav ul li a.active{
    text-decoration: none;
    background: rgba(255,255,255,0.1);
}
header .toggle-menu{
    display: none;
}

.splash{
    background: url('../images/hero-image.png') no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    overflow: hidden;
    position: relative;
}
.splash:after{
    content: "";
    display: block;
    position: absolute;
    top: -40px; right: -40px; bottom: -40px; left: -40px;
    background: rgba(105,105,255,0.08);
    transform: rotate(30deg);
    animation: spin 60s infinite linear;
}

.splash:before{
    content: "";
    display: block;
    position: absolute;
    top: -40px; right: -40px; bottom: -40px; left: -40px;
    background: rgba(105,105,255,0.08);
    transform: rotate(150deg);
    animation: spin2 50s infinite linear;
}

.splash-overlay {
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(255,255,255,0.10);
    width: 100%;
    height: 100%;
}

.splash .container{
    position: relative;
    text-align: center;
    top: 48%;
    transform: translateY(-50%);
    z-index: 5;
}

.splash h1 {
    position: relative;
    display: inline-block;
    font-family: 'PT Sans','Helvetica','Arial';
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 5px;
    color: #4b007d;
    background-image: -webkit-linear-gradient(92deg,#4b007d,#ff4081);
    background-image: -o-linear-gradient(transparent, transparent);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    z-index: 10;

    padding: 0.250em;
    border: 1px solid #555;
}

.splash h2{
    color: #ff4081;
    font-variant: small-caps;
    margin-bottom: 40px;
    text-shadow: 2px 1px 4px rgba(255,255,255,0.10);
}

.splash img {
    max-width: 100px;
    height: auto;
}

.subpage-splash {
    height: 100%;
}

.subpage-splash .container {
    height: 100%;
}

.subpage-splash h1 {
  padding: 0.50em;
}

@media (min-width: 600px) {
    .splash-overlay {
        background: none;
    }
}


/* SERVICES
*************************************************************/

.splash-50vh {
    min-height: 50%;
}

.service-section {
    position: relative;
    height: 100%;
    padding: 2em 0;
}

/* Colors Services
 * Nails - #a1f9de;
 * Hair - #a1bcf9;
 * Spa - #f9b2a1;
 * Waxing - #dea1f9;
 * Skin Care - #bcf9a1;
 * Makeup - #a1f9b2;
*/

.service-container {
    position: relative;
    width: 100%;
    height: auto;
    min-height: 100vh;
    max-width: 1080px;
    margin: 0 auto;
    color: #555;
}

.service-container > div {
    margin-bottom: 0;
}

.service-container > h2 {
    position: relative;
    margin: 1em 0;
    font-family: 'Merriweather';
    font-size: 2.50em;
    font-weight: 400;
    letter-spacing: 0;
    text-align: center;
    color: #ff4081;
}

.service-container > h2::after {
  position: absolute;
  content: '';
  left: -50%;
  right: 0;
  top: 50%;
  width: 150%;
  height: 50%;
  background: #e6e6e6;
  border-radius: 0 5px 5px 0;
  z-index: -1;
}

#nails.service-section .service-container > h2::after {
  background: #a1f9de;
}

#hair.service-section .service-container > h2::after {
  background: #a1bcf9;
}

/*
#nails.service-section .service-cb {
    border: 0.10em solid #ccc;
}

#hair.service-section .service-cb {
    border: 0.10em solid #a1bcf9;
}
*/

#waxing.service-section .service-cb {
    border: 0.10em solid #dea1f9;
}


.service-container .service-cb {
    position: relative;
    padding: 1em 0.50em 1em 0.50em;
    text-align: left;
    background: #fff;
}

.service-section .service-container .service-cb:nth-child(1n) {
    border-top: 4px solid #f9b2a1;
}

.service-section .service-container .service-cb:nth-child(2n) {
    border-top: 4px solid #a1f9de;
}

.service-section .service-container .service-cb:nth-child(3n) {
    border-top: 4px solid #a1bcf9;
}

.service-section .service-container .service-cb:nth-child(4n) {
    border-top: 4px solid #dea1f9;
}

.service-section .service-container .service-cb:nth-child(5n) {
    border-top: 4px solid #bcf9a1;
}

.service-section .service-container .service-cb:nth-child(6n) {
    border-top: 4px solid #a1f9b2;
}

.service-container .service-cb.fwidth {
    height: auto;
    min-height: 50vh;
    padding: 0;
}

.service-container .service-cb.fwidth > div {
    height: auto;
    padding: 1em;
    text-align: center;
}

.service-container .service-cb.fwidth > div img {
    max-width: 100%;
}

.service-container .service-cb.fwidth > div:nth-child(1) {
    border-right: none;
    border-bottom: 1px solid #ccc;
    text-align: left;
}

.service-container .service-cb.fwidth > div:nth-child(2) {
    padding: 0;
    line-height: 0;
    justify-content: center;
}

.service-container .service-cb .image-icon i {
    position: absolute;
    top: 0.750em;
    right: 0.750em;
    padding: 0.50em;
    background: #f6f6f6;
    border-radius: 50%;
    color: #ff4081;
    z-index: 10;
}

.service-container .service-cb h3 {
    margin-bottom: 0.250em;

}

.service-container .service-cb p {
    line-height: 1.4;
    margin-bottom: 0.750em;
    font-size: 0.750em;
    text-align: left;
}

.service-container .service-cb h4 {
    font-weight: 300;
    margin: 0 0 0.250em 0;
}

.service-container .service-cb .service-cb-btn {
    display: inline-block;
    text-align: left;
    padding: 0.250em;
    margin: 0 0.250em 0.50em 0;

    text-transform: uppercase;
    font-size: 0.750em;
    color: #f6f6f6;

    border: 1px solid transparent;
    background: transparent;
    background: rgba(75, 0, 125,0.60);

    -webkit-transition: all 0.30s ease;
    -moz-transition: all 0.30s ease;
    -o-transition: all 0.30s ease;
    transition: all 0.30s ease;
}

.service-container .service-cb .service-cb-btn:hover {
    background: rgba(75, 0, 125,1);
    cursor: default;
}

.service-container .service-cb .service-cb-btn:nth-child(2) {
    margin-bottom: 0;
}

.service-gallery-container {
    margin: 0 auto;
    min-height: auto;
}

.service-gallery-container > div  {
    padding: 0;
    line-height: 0;
}

.service-gallery-container > div > a > img {
    width: 100%;
    height: auto;
    padding: 1em;
}


/* SM Size */
@media (min-width: 48em) {
    .service-section {
        padding: 2em 1em;
    }
    .service-container {
        min-height: 75vh;
    }
    .service-container .service-cb {
      padding: 2em 1em;
      min-height: 200px;
    }
    .service-container > h2 {
        text-align: left;
    }
    .service-container .service-cb p {
      line-height: 1.6;
      margin-bottom: 1em;
      font-size: 0.850em;
    }
    .service-container .service-cb.fwidth > div:nth-child(1) {
        border-bottom: none;
        border-right: 1px solid #ccc;
    }

    .service-container .service-cb.fwidth > div {
      padding: 2em;
    }
}

/* MD Size */
@media (min-width: 65em) {

}


.feature.services .icon {
    max-width: 50px;
    height: auto;
    display: inline-block;
    margin-right: 10px;
}

.feature.services .services-img {
    position: absolute;
    bottom: 0;
    left: 55%;
    z-index: -1;
}
.feature.services    {
    border-bottom: 4px solid #ff4081;
}
.feature.services > div > div {
    float: left;
    width: 50%;
}
.feature.services h1 {
    display: inline-block;
}
.feature.services h2 {
    margin: 20px 0 10px 0;
    font-weight: 600;
}

.feature.services table {
    width: 100%;
    border-collapse: collapse; 
    min-width: 300px;
    line-height: 24px;
    z-index: 2;
}
.feature.services table tr{
    background: rgba(255,255,255,0.60);
    border-bottom: 1px solid #ccc;
}
.feature.services table tr td {
    padding: 0.50em 0.350em;
    color: #222;
}
.feature.services table tr td:nth-child(1) {
    width: 80%;
}



.overview{
    text-align: center;
}

.overview > div h2 {
  letter-spacing: -1px;
}

.overview > div > div{
    float: left;
    width: 33%;
    padding: 0 40px 0 40px;
}

.overview div .fa{
    display: inline-block;
    font-size: 50px;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    background: #ff4081;
    color: #fff;
    margin-bottom: 20px;
    padding-top: 25px;
    text-shadow: 2px 1px 4px rgba(0,0,0,0.35);
}

.overview p{
    margin-bottom: 0;
}

.   {
    background: #f6f6f6;
}

.feature.greybg{
    background: #f6f6f6;
}
.feature{
    position: relative;
    overflow: hidden;
}
.feature h1 {
    color: #ff4081;
}
.feature .feature-img{
    position: absolute;
    top: 100px;
    right: 55%;
}
.feature:nth-of-type(even) .feature-img{
    right: auto;
    left: 55%;
}
.feature > div > div{
    width: 50%;
    float: right;
}
.feature > div > div > p{
    margin-bottom: 40px;
}
.feature:nth-of-type(even) > div > div{
    float: left;
}
.feature ul{
    margin: 0;
    padding: 0;
}
.feature ul li{
    display: block;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #eee;
}
.feature ul li:last-child{
    margin-bottom: 0;
    padding-bottom: 0;  
    border-bottom: 0;
}
.feature ul li h3{
    display: inline-block;
    margin: 0 0 5px 0;
}
.feature ul li p:last-child{
    margin: 0;
}
.feature ul li .fa{
    float: left;
    font-size: 30px;
    background: #ab47bc;
    color: #fff;
    width: 50px;
    height: 50px;
    display: inline-block;
    text-align: center;
    padding-top: 10px;
    border-radius: 25px;
    margin-right: 20px;
    margin-top: 7px;
}
.feature ul li img {
    display: inline-block;
    float: left;
    width: 50px;
    height: auto;
    padding-top: 5px;
    margin-right: 20px;
    margin-top: 5px;
    text-align: center;
}
.feature ul li p{
    overflow: hidden;
}



.cta{
    background: #ff4081;
    position: relative;
    overflow: hidden;
    text-align: center;
    color: #fff;
}
.cta:after{
    content: "";
    display: block;
    position: absolute;
    top: -40px; right: -40px; bottom: -40px; left: -40px;
    background: rgba(255,255,255,0.1);
    transform: rotate(30deg);
}
.cta .container{
    position: relative;
    z-index: 10;
}
.cta h2{
    margin-bottom: 40px;
}

.contact{
    background: #ff4081;
    position: relative;
    overflow: hidden;
    text-align: center;
}
.contact:after{
    content: "";
    display: block;
    position: absolute;
    top: -40px; right: -40px; bottom: -40px; left: -40px;
    background: rgba(255,255,255,0.1);
    transform: rotate(30deg);
}
.contact .input{
    width: 47%;
    float: left;
}
.contact .input:nth-of-type(odd){
    margin-right: 6%;
}
.contact .message{
    display: block;
    clear: both;
    float: none;
    padding-top: 10px;
}
.contact .input input{
    display: block;
    width: 100%;
    background: rgba(255,255,255,0.3);
    border: 0;
    padding: 10px 15px;
}
.contact .message textarea{
    display: block;
    width: 100%;
    height: 200px;
    background: rgba(255,255,255,0.3);
    border: 0;
    padding: 10px 15px;
    resize: vertical;
}
.contact label{
    position: relative;
    z-index: 10;
}
.contact label span{
    display: block;
    text-align: left;
    font-size: 14px;
}
.contact label span .fa{
    margin-right: 7px;
}
.contact .submit{
    display: block;
    text-align: center;
    padding-top: 40px;
    outline: none;
}
.contact h2{
    margin-bottom: 40px;
}

.packages{
    text-align: center;
}
.packages > div > div{
    display: inline-block;
    float: left;
    width: 30%;
    margin: 60px 10px 0 10px;
    background: #f6f6f6;
    padding: 40px;
}
.packages > div > div h3{
    background: #555;
    color: #fff;
    display: block;
    margin: -40px -40px 35px -40px;
    padding: 30px;
    position: relative;
}
.packages > div > div h3 span{
    display: block;
}
.packages > div > div h3 span .fa{
    margin: 0 1px;
}
.packages > div > div .price{
    font-size: 40px;
}

/*
.packages > div > div:nth-of-type(2){
    width: calc(34% + 20px);
    margin: 40px -10px 0 -10px;
    box-shadow: 0px 5px 20px -5px rgba(0,0,0,0.3);
    position: relative;
    z-index: 50;
}

.packages > div > div:nth-of-type(2) h3{
    background: #fbc93d;
    color: #555;
    display: block;
}
*/

.packages ul{
    padding: 0;
    margin: 27px 0;
}
.packages ul li{
    display: block;
    line-height: 40px;
    border-bottom: 1px solid #eee;
}
.packages ul li:last-child{
    border-bottom: 0;
}

.packages > div > div {
    opacity: 0.35;
}


/*******************************************************************
 * FEATURES
 */

#features ul li i {
  text-shadow: 1px 0 4px rgba(0,0,0,0.35);
}

#features time {
  display: block;
}

/*******************************************************************
 * FOOTER
 */

footer{
    background: #222;
    color: #ccc;
    padding: 0 20px;
    font-size: 14px;
}
footer .copyright{
    float: left;
    padding: 15px 0;
}
footer .copyright p{
    margin: 0;
}
footer .copyright a{
    color: #fff;
}
footer .social{
    float: right;
    padding: 15px 0;
}
footer .social a{
    margin-left: 10px;
    font-size: 16px;
    color: #ccc;
}
footer .social a:hover{
    color: #fff;
}

.pinkbg {
    background: #ff4081;
}
.pinkbg.container {
    color: #fff;
}


@media (max-width: 800px){
    section{
        padding: 80px 10px;
    }
    header, footer{
        padding: 0 10px;
    }
    .splash{
        height: auto;
        padding: 150px 10px 80px 10px;
        text-align: center;
    }
    .splash .container{
        position: relative;
        top: 0;
        transform: none;
    }
    .overview > div > div{
        padding: 0 20px;
    }
    .feature img{
        right: 65%;
    }
    .feature:nth-of-type(even) img{
        left: 65%;
    }
    .feature > div > div{
        width: 60%;
    }
    header nav ul li a{
        padding: 15px;
    }
    .packages > div > div{
        width: 100% !important;
        float: none;
        margin: 0 0 20px 0 !important;
        box-shadow: none !important;
    }
    .packages > div > div:nth-last-child(2),
    .packages > div > div:nth-last-child(1) {
        display: none;
    }
    .packages > div > div h3{
        background: #555 !important;
        color: #fff !important;
    }
    .packages h2{
        margin-bottom: 40px;
    }
    .container .container-feature-p {
        font-size: 18px;
        line-height: 28px;
    }

    /* SERVICES
    ******************************************************
    .feature.services table {
        width: 80%;
    }
    .feature.services > div > div {
        width: 100%;
    }

    */
}


@media (max-width: 600px){
    section{
        padding: 40px 10px;
    }
    .splash{
        padding: 100px 10px 40px 10px;
    }
    .overview > div > div{
        float: none;
        width: 100%;
        margin-bottom: 40px;
        padding: 0;
    }
    .overview > div > div:last-child{
        margin-bottom: 0;
    }
    .overview p{
        overflow: hidden;
    }
    .feature img{
        display: none;
    }
    .feature > div > div{
        width: 100%;
        float: none;
    }
    header nav{
        float: none;
        position: fixed;
        top: 44px;
        left: -300px;
        bottom: 0;
        width: 100%;
        max-width: 300px;
        background: #333;
        transition: 200ms;
    }
    header nav.visible{
        left: 0px;
    }
    header nav ul li{
        display: block;
        float: none;
        width: 100%;
    }
    header nav ul li a{
        display: block;
        width: 100%;
        border-bottom: 1px solid rgba(255,255,255,0.1);
    }
    header .toggle-menu{
        display: block;
        color: #fff;
        position: absolute;
        right: 10px;
        top: 10px;
        font-size: 28px;
    }
    footer{
        text-align: center;
    }
    footer .copyright, footer .social{
        float: none;
    }
    footer .social{
        padding-top: 0;
    }

    .contact .input{
        display: block;
        width: 100%;
        float: none;
    }
    .contact .input:nth-of-type(odd){
        margin-right: 0;
    }
    .contact label{
        padding-top: 10px;
    }
    .contact label:first-of-type{
        padding-top: 0;
    }

    /* SERVICES
    ******************************************************
    .feature.services table {
        width: 100%;
    }
    */
}

.white-text {
    color: #fff;
}
.white-text input,
.white-text textarea {
    color: #fff;
}
#service-img {
    width: 750px;
}

/*******************************************************************
 * INDEX GALLERY
 */

.index-gallery {
    position: relative;
    padding: 0;
    text-align: center;
    line-height: 0;
}

.index-gallery div {
    display: inline-block;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: 19%;
    line-height: 0;

}

.index-gallery div img {
    width: 100%;
    max-width: 300px;
    height: auto;
    padding: 10px;
}


/*******************************************************************
 * ABOUT
 */

.feature.about-page > div > .about-gallery {
    float: none;
    width: 100%;
    text-align: center;
}

.about-gallery {
    position: relative;
    width: 100%;
    margin: 50px 0;
}

#about-gallery .owl-wrapper-outer {
    max-height: 80vh;
    width: auto;
}

#about-gallery img {
    width: 100%;
    height: auto;
}

.about-gallery-left,
.about-gallery-right {
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    text-shadow: 1px 0px 2px rgba(0,0,0,0.60);
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 38px;
    color: #ff4081;
    background: rgba(255,255,255,0.60);
    border-radius: 50%;
    z-index: 10;
}

.about-gallery-left:hover,
.about-gallery-right:hover {
    cursor: pointer;
    background: rgba(255,255,255,0.90);
}

.about-gallery-left {
    left: 10px;
    padding: 7px 12px 7px 7px;
}
.about-gallery-right {
    left: calc(100% - 60px);
    padding: 7px 7px 7px 12px;
}

/* About Team */

.about-team {
    position: relative;
    padding: 50px 20px;
    overflow: hidden;
    text-align: center;
    background: #ff4081;
    background: -webkit-linear-gradient(to right, #4b007d, #ff4081); 
    background: linear-gradient(to right, #4b007d, #ff4081); 
}

.about-team .container{
    position: relative;
    z-index: 10;
}

.slant-bg {
    position: relative;
    overflow: hidden;
}

.slant-bg::after{
    content: "";
    display: block;
    position: absolute;
    top: -80px; right: -80px; bottom: -80px; left: -80px;
    background: rgba(255,255,255,0.1);
    transform: rotate(30deg);
}

.about-team h1 {
    color: #fff;
    margin: 0;
    text-align: center;
    font-weight: 300;
}

/* Team Gallery */

.about-team-2 {
    text-align: center;
}

.team-container {
    position: relative;
    display: inline-block;
    margin: 15px;
    width: 225px;
    height: 300px;
    border-radius: 5px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    overflow: hidden;
}
.team-container .team-image {
    position: relative;
}

.team-container .team-image::after {
    position: absolute;
    content: '';
    top: 0;
    left: 0 ;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    background: linear-gradient(45deg, rgba(171,139,250,0.33), transparent);
}

.team-container .team-image img {
    width: 100%;
    height: auto;
}

.team-container .team-description {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 15%;
    border-radius: 5px;
    overflow: hidden;
    background: rgba(75,0,125,0.60);
    -webkit-transition: all 0.30s ease;
    -moz-transition: all 0.30s ease;
    -o-transition: all 0.30s ease;
    transition: all 0.30s ease;
}

.team-container:hover .team-description {
    background: rgba(75,0,125,0.80);
    height: 100%;
}

.team-container .team-description h2,
.team-container .team-description p {
    color: #fff;
    text-align: center;
}

.team-container .team-description h2 {
    font-size: 1.250rem;
    margin: 5px 0;
}

/* Brand Carousel */

.brand-carousel {
    position: relative;
    padding: 50px 10px;
    text-align: center;
}

.brand-carousel.slant-bg::after {
    transform: rotate(-30deg);
}

.brand-carousel h1{
    font-weight: 300;
    margin-bottom: 50px;
}

#brand-carousel img {
    max-width: 150px;
}

/*
.instagram {
    position: relative;
    text-align: center;
    color: #f2f2f2;
    background: #ff4081;
    background: -webkit-linear-gradient(to right, #4b007d, #ff4081); 
    background: linear-gradient(to right, #4b007d, #ff4081);
    z-index: 1;
}

.instagram.slant-bg::after {
    z-index: -1;
}

.instagram iframe {
    width: 100%;
    height: auto;
    border: none;
    overflow: hidden;
    margin: 30px 0;
    z-index: 2;
}

.instagram h1 a {
    padding: 0 15px;
    color: #f2f2f2;
}
*/

.gallery {
    height: 50vh;
    background: url("../images/salon/3.jpg") no-repeat;
}

.gallery-page {

}



/* OWL CAROUSEL */

/* clearfix */
.owl-carousel .owl-wrapper:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
/* display none until init */
.owl-carousel{
    display: none;
    position: relative;
    width: 100%;
    -ms-touch-action: pan-y;
}
.owl-carousel .owl-wrapper{
    display: none;
    position: relative;
    -webkit-transform: translate3d(0px, 0px, 0px);
}
.owl-carousel .owl-wrapper-outer{
    overflow: hidden;
    position: relative;
    width: 100%;
}
.owl-carousel .owl-wrapper-outer.autoHeight{
    -webkit-transition: height 500ms ease-in-out;
    -moz-transition: height 500ms ease-in-out;
    -ms-transition: height 500ms ease-in-out;
    -o-transition: height 500ms ease-in-out;
    transition: height 500ms ease-in-out;
}
    
.owl-carousel .owl-item{
    float: left;
}
.owl-controls .owl-page,
.owl-controls .owl-buttons div{
    cursor: pointer;
}
.owl-controls {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* mouse grab icon

.grabbing { 
    cursor:url(grabbing.png) 8 8, move;
}

*/

/* fix */
.owl-carousel  .owl-wrapper,
.owl-carousel  .owl-item{
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility:    hidden;
    -ms-backface-visibility:     hidden;
  -webkit-transform: translate3d(0,0,0);
  -moz-transform: translate3d(0,0,0);
  -ms-transform: translate3d(0,0,0);
}


.owl-theme .owl-controls{
    margin-top: 10px;
    text-align: center;
}

/* Styling Next and Prev buttons */

.owl-theme .owl-controls .owl-buttons div{
    color: #FFF;
    display: inline-block;
    zoom: 1;
    *display: inline;/*IE7 life-saver */
    margin: 5px;
    padding: 3px 10px;
    font-size: 12px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    background: #869791;
    filter: Alpha(Opacity=50);/*IE7 fix*/
    opacity: 0.5;
}
/* Clickable class fix problem with hover on touch devices */
/* Use it for non-touch hover action */
.owl-theme .owl-controls.clickable .owl-buttons div:hover{
    filter: Alpha(Opacity=100);/*IE7 fix*/
    opacity: 1;
    text-decoration: none;
}

/* Styling Pagination*/

.owl-theme .owl-controls .owl-page{
    display: inline-block;
    zoom: 1;
    *display: inline;/*IE7 life-saver */
}
.owl-theme .owl-controls .owl-page span{
    display: block;
    width: 12px;
    height: 12px;
    margin: 5px 7px;
    filter: Alpha(Opacity=50);/*IE7 fix*/
    opacity: 0.5;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    background: #869791;
}

.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span{
    filter: Alpha(Opacity=100);/*IE7 fix*/
    opacity: 1;
}

/* If PaginationNumbers is true */

.owl-theme .owl-controls .owl-page span.owl-numbers{
    height: auto;
    width: auto;
    color: #FFF;
    padding: 2px 10px;
    font-size: 12px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
}

/* preloading images */
.owl-item.loading{
    min-height: 150px;
    background: url(AjaxLoader.gif) no-repeat center center
}

/* Magnific Popup CSS */

.mfp-bg {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1042;
  overflow: hidden;
  position: fixed;
  background: #0b0b0b;
  opacity: 0.8; }

.mfp-wrap {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1043;
  position: fixed;
  outline: none !important;
  -webkit-backface-visibility: hidden; }

.mfp-container {
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  padding: 0 8px;
  box-sizing: border-box; }

.mfp-container:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle; }

.mfp-align-top .mfp-container:before {
  display: none; }

.mfp-content {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 0 auto;
  text-align: left;
  z-index: 1045; }

.mfp-inline-holder .mfp-content,
.mfp-ajax-holder .mfp-content {
  width: 100%;
  cursor: auto; }

.mfp-ajax-cur {
  cursor: progress; }

.mfp-zoom-out-cur, .mfp-zoom-out-cur .mfp-image-holder .mfp-close {
  cursor: -moz-zoom-out;
  cursor: -webkit-zoom-out;
  cursor: zoom-out; }

.mfp-zoom {
  cursor: pointer;
  cursor: -webkit-zoom-in;
  cursor: -moz-zoom-in;
  cursor: zoom-in; }

.mfp-auto-cursor .mfp-content {
  cursor: auto; }

.mfp-close,
.mfp-arrow,
.mfp-preloader,
.mfp-counter {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none; }

.mfp-loading.mfp-figure {
  display: none; }

.mfp-hide {
  display: none !important; }

.mfp-preloader {
  color: #CCC;
  position: absolute;
  top: 50%;
  width: auto;
  text-align: center;
  margin-top: -0.8em;
  left: 8px;
  right: 8px;
  z-index: 1044; }
  .mfp-preloader a {
    color: #CCC; }
    .mfp-preloader a:hover {
      color: #FFF; }

.mfp-s-ready .mfp-preloader {
  display: none; }

.mfp-s-error .mfp-content {
  display: none; }

button.mfp-close,
button.mfp-arrow {
  overflow: visible;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
  display: block;
  outline: none;
  padding: 0;
  z-index: 1046;
  box-shadow: none;
  touch-action: manipulation; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

.mfp-close {
  width: 44px;
  height: 44px;
  line-height: 44px;
  position: absolute;
  right: 0;
  top: 0;
  text-decoration: none;
  text-align: center;
  opacity: 0.65;
  padding: 0 0 18px 10px;
  color: #FFF;
  font-style: normal;
  font-size: 28px;
  font-family: Arial, Baskerville, monospace; }
  .mfp-close:hover,
  .mfp-close:focus {
    opacity: 1; }
  .mfp-close:active {
    top: 1px; }

.mfp-close-btn-in .mfp-close {
  color: #333; }

.mfp-image-holder .mfp-close,
.mfp-iframe-holder .mfp-close {
  color: #FFF;
  right: -6px;
  text-align: right;
  padding-right: 6px;
  width: 100%; }

.mfp-counter {
  position: absolute;
  top: 0;
  right: 0;
  color: #CCC;
  font-size: 12px;
  line-height: 18px;
  white-space: nowrap; }

.mfp-arrow {
  position: absolute;
  opacity: 0.65;
  margin: 0;
  top: 50%;
  margin-top: -55px;
  padding: 0;
  width: 90px;
  height: 110px;
  -webkit-tap-highlight-color: transparent; }
  .mfp-arrow:active {
    margin-top: -54px; }
  .mfp-arrow:hover,
  .mfp-arrow:focus {
    opacity: 1; }
  .mfp-arrow:before,
  .mfp-arrow:after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    left: 0;
    top: 0;
    margin-top: 35px;
    margin-left: 35px;
    border: medium inset transparent; }
  .mfp-arrow:after {
    border-top-width: 13px;
    border-bottom-width: 13px;
    top: 8px; }
  .mfp-arrow:before {
    border-top-width: 21px;
    border-bottom-width: 21px;
    opacity: 0.7; }

.mfp-arrow-left {
  left: 0; }
  .mfp-arrow-left:after {
    border-right: 17px solid #FFF;
    margin-left: 31px; }
  .mfp-arrow-left:before {
    margin-left: 25px;
    border-right: 27px solid #3F3F3F; }

.mfp-arrow-right {
  right: 0; }
  .mfp-arrow-right:after {
    border-left: 17px solid #FFF;
    margin-left: 39px; }
  .mfp-arrow-right:before {
    border-left: 27px solid #3F3F3F; }

.mfp-iframe-holder {
  padding-top: 40px;
  padding-bottom: 40px; }
  .mfp-iframe-holder .mfp-content {
    line-height: 0;
    width: 100%;
    max-width: 900px; }
  .mfp-iframe-holder .mfp-close {
    top: -40px; }

.mfp-iframe-scaler {
  width: 100%;
  height: 0;
  overflow: hidden;
  padding-top: 56.25%; }
  .mfp-iframe-scaler iframe {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
    background: #000; }

/* Main image in popup */
img.mfp-img {
  width: auto;
  max-width: 100%;
  height: auto;
  display: block;
  line-height: 0;
  box-sizing: border-box;
  padding: 40px 0 40px;
  margin: 0 auto; }

/* The shadow behind the image */
.mfp-figure {
  line-height: 0; }
  .mfp-figure:after {
    content: '';
    position: absolute;
    left: 0;
    top: 40px;
    bottom: 40px;
    display: block;
    right: 0;
    width: auto;
    height: auto;
    z-index: -1;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
    background: #444; }
  .mfp-figure small {
    color: #BDBDBD;
    display: block;
    font-size: 12px;
    line-height: 14px; }
  .mfp-figure figure {
    margin: 0; }

.mfp-bottom-bar {
  margin-top: -36px;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  cursor: auto; }

.mfp-title {
  text-align: left;
  line-height: 18px;
  color: #F3F3F3;
  word-wrap: break-word;
  padding-right: 36px; }

.mfp-image-holder .mfp-content {
  max-width: 100%; }

.mfp-gallery .mfp-image-holder .mfp-figure {
  cursor: pointer; }

@media screen and (max-width: 800px) and (orientation: landscape), screen and (max-height: 300px) {
  /**
       * Remove all paddings around the image on small screen
       */
  .mfp-img-mobile .mfp-image-holder {
    padding-left: 0;
    padding-right: 0; }
  .mfp-img-mobile img.mfp-img {
    padding: 0; }
  .mfp-img-mobile .mfp-figure:after {
    top: 0;
    bottom: 0; }
  .mfp-img-mobile .mfp-figure small {
    display: inline;
    margin-left: 5px; }
  .mfp-img-mobile .mfp-bottom-bar {
    background: rgba(0, 0, 0, 0.6);
    bottom: 0;
    margin: 0;
    top: auto;
    padding: 3px 5px;
    position: fixed;
    box-sizing: border-box; }
    .mfp-img-mobile .mfp-bottom-bar:empty {
      padding: 0; }
  .mfp-img-mobile .mfp-counter {
    right: 5px;
    top: 3px; }
  .mfp-img-mobile .mfp-close {
    top: 0;
    right: 0;
    width: 35px;
    height: 35px;
    line-height: 35px;
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    text-align: center;
    padding: 0; } }

@media all and (max-width: 900px) {
  .mfp-arrow {
    -webkit-transform: scale(0.75);
    transform: scale(0.75); }
  .mfp-arrow-left {
    -webkit-transform-origin: 0;
    transform-origin: 0; }
  .mfp-arrow-right {
    -webkit-transform-origin: 100%;
    transform-origin: 100%; }
  .mfp-container {
    padding-left: 6px;
    padding-right: 6px; } }