body {
  font: 100% Helvetica, sans-serif;
  color: #444; }

h1, h2, h3, h4, h5, h6 {
  color: #444; }

h2 {
  color: #515151;
  border: 1px solid black; }

h3 {
  color: #5e5e5e; }

h4,
h5,
h6 {
  color: #6a6a6a; }
