/* Animations */

@keyframes pulse {
  0%   { transform: scale(1); }
  50% { transform: scale(0.8); }
  100% { transform: scale(1); }
}

@keyframes spin {
  0%   { transform: rotate(30deg); }
  100% { transform: rotate(210deg); }
}
@keyframes spin2 {
  0%   { transform: rotate(150deg); }
  100% { transform: rotate(330deg); }
}

/* End Animations */

/* Resets, Clears & Defaults */

*, *:after, *:before {
    box-sizing: border-box;
}

body, input, textarea{
    padding: 0; margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 30px;
    color: #333;
    font-weight: 300;
}
input:focus, textarea:focus{
    outline: 0;
}

h1, h2, h3, p{
    margin: 0 0 20px 0;
    position: relative;
    z-index: 6;
}

h1{
    font-size: 40px;
    line-height: 46px;
    font-weight: 600;
}

h2{
    font-size: 28px;
    line-height: 36px;
    font-weight: 300;
}

h3{
    font-size: 20px;
    font-weight: 600;
}

a{
    color: #ab47bc;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

img{
    max-width: 100%;
}

::selection {
  background: #ff5252; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #ff5252; /* Gecko Browsers */
}

/* End Resets, Clears & Defaults */


/* Shadows */


.z-depth-0 {
  box-shadow: none !important;
}
.z-depth-1{
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.z-depth-1-half{
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}
.z-depth-2{
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.z-depth-3{
  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
.z-depth-4{
  box-shadow: 0 16px 28px 0 rgba(0, 0, 0, 0.22), 0 25px 55px 0 rgba(0, 0, 0, 0.21);
}
.z-depth-5{
  box-shadow: 0 27px 24px 0 rgba(0, 0, 0, 0.2), 0 40px 77px 0 rgba(0, 0, 0, 0.22);
}

.hoverable {
  transition: box-shadow .25s;
  box-shadow: 0;
}

.hoverable:hover {
  transition: box-shadow .25s;
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* End Shadows */

.container{
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}
.container .container-feature-p {
    position: relative;
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 60px;
    text-align: center;
}
.container .container-feature-p::after {
    position: absolute;
    display: none;
    content: '';
    bottom: -20px;
    left: 0;
    right: 0;
    width: 10%;
    height: 2px;
    margin: 0 auto;
    background: #4b007d;
}

.container:after{
    content: "";
    display: block;
    clear: both;
}
section{
    padding: 100px 20px;
}

.btn{
    display: inline-block;
    padding: 15px 30px;
    border-radius: 50px;
    color: #fff;
    border: 1px solid #fff;
    background: transparent;
    cursor: pointer;
    -webkit-transition: all 0.35s ease;
    -moz-transition: all 0.35s ease;
    -o-transition: all 0.35s ease;
    transition: all 0.35s ease;
}
.btn:hover{
    text-decoration: none;
    background: rgba(255,255,255,0.1);
}
.btn.yellow{
    color: #ffcd40;
    border: 1px solid #ffcd40;
}
.btn.purple {
    color: #4b007d;
    border: 1px solid #4b007d;
}
.btn.smaller{
    padding: 10px 25px;
}
.btn .fa {
    margin-left: 10px;
}

.btn-hover:hover {
    color: #fff;
    border-color: transparent;
    background: #4b007d; /* fallback for unsupported browsers */ 
    background: -webkit-linear-gradient(to right, rgba(75, 0, 125, 0.35), rgba(218, 49, 147, 0.35)); 
    background: linear-gradient(to right, rgba(75, 0, 125, 0.35), rgba(218, 49, 147, 0.35)); 
}


header{
    background: rgba(75, 0, 125, 0.60);
    padding: 0 20px;
    position: fixed;
    top: 0; left: 0;
    width: 100%;
    z-index: 200;
}
header .logo{
    float: left;
    font-family: 'Open Sans', sans-serif;
    padding: 13px 0;
    color: #fff;
    font-weight: 400;
    font-size: 22px;
    line-height: 30px;
    margin: 0;
}
header .logo .fa{
    font-size: 16px;
    position: relative;
    top: -1px;
    margin-right: 7px;
}
header .logo img {
    max-width: 50px;
    height: auto;
}
header nav{
    float: right;
}
header nav ul{
    padding: 0;
    margin: 0;
}
header nav ul li{
    display: inline-block;
    float: left;
}
header nav ul li a{
    display: inline-block;
    padding: 15px 20px;
    color: #fff;
    transition: 200ms;
}
header nav ul li a:hover, header nav ul li a.active{
    text-decoration: none;
    background: rgba(255,255,255,0.1);
}
header .toggle-menu{
    display: none;
}

.splash{
    background: url('../images/hero-image.png') no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    overflow: hidden;
    position: relative;
}
.splash:after{
    content: "";
    display: block;
    position: absolute;
    top: -40px; right: -40px; bottom: -40px; left: -40px;
    background: rgba(105,105,255,0.08);
    transform: rotate(30deg);
    animation: spin 60s infinite linear;
}

.splash:before{
    content: "";
    display: block;
    position: absolute;
    top: -40px; right: -40px; bottom: -40px; left: -40px;
    background: rgba(105,105,255,0.08);
    transform: rotate(150deg);
    animation: spin2 50s infinite linear;
}

.splash .container{
    position: relative;
    top: 48%;
    transform: translateY(-50%);
    z-index: 5;
}

.splash h1 {
    color: #4b007d;
    text-shadow: 2px 1px 4px rgba(0,0,0,0.35);
}

.splash h2{
    color: #ff4081;
    margin-bottom: 40px;
}

/*
@media (min-width: 600px) {
    .splash h1 {

    }
}
*/

/* SERVICES
*************************************************************/

.splash-50vh {
    height: 50vh;
}

.feature.services .icon {
    max-width: 50px;
    height: auto;
    display: inline-block;
    margin-right: 10px;
}

.feature.services .services-img {
    position: absolute;
    bottom: 0;
    left: 55%;
    z-index: -1;
}
.feature.services {
    border-bottom: 4px solid #ff4081;
}
.feature.services > div > div {
    float: left;
    width: 50%;
}
.feature.services h1 {
    display: inline-block;
}
.feature.services h2 {
    margin: 20px 0 10px 0;
    font-weight: 600;
}

.feature.services table {
    width: 100%;
    border-collapse: collapse; 
    min-width: 300px;
    line-height: 24px;
    z-index: 2;
}
.feature.services table tr{
    background: rgba(255,255,255,0.60);
    border-bottom: 1px solid #ccc;
}
.feature.services table tr td {
    padding: 0.50em 0.350em;
    color: #222;
}
.feature.services table tr td:nth-child(1) {
    width: 80%;
}

.overview{
    text-align: center;
}

.overview > div > div{
    float: left;
    width: 33%;
    padding: 0 40px 0 40px;
}

.overview div .fa{
    display: inline-block;
    font-size: 50px;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    background: #ff4081;
    color: #fff;
    margin-bottom: 20px;
    padding-top: 25px;
}

.overview p{
    margin-bottom: 0;
}

.   {
    background: #f6f6f6;
}

.feature.greybg{
    background: #f6f6f6;
}
.feature{
    position: relative;
    overflow: hidden;
}
.feature h1 {
    color: #ff4081;
}
.feature .feature-img{
    position: absolute;
    top: 100px;
    right: 55%;
}
.feature:nth-of-type(even) .feature-img{
    right: auto;
    left: 55%;
}
.feature > div > div{
    width: 50%;
    float: right;
}
.feature > div > div > p{
    margin-bottom: 40px;
}
.feature:nth-of-type(even) > div > div{
    float: left;
}
.feature ul{
    margin: 0;
    padding: 0;
}
.feature ul li{
    display: block;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #eee;
}
.feature ul li:last-child{
    margin-bottom: 0;
    padding-bottom: 0;  
    border-bottom: 0;
}
.feature ul li h3{
    display: inline-block;
    margin: 0 0 5px 0;
}
.feature ul li p:last-child{
    margin: 0;
}
.feature ul li .fa{
    float: left;
    font-size: 30px;
    background: #ab47bc;
    color: #fff;
    width: 50px;
    height: 50px;
    display: inline-block;
    text-align: center;
    padding-top: 10px;
    border-radius: 25px;
    margin-right: 20px;
    margin-top: 7px;
}
.feature ul li img {
    display: inline-block;
    float: left;
    width: 50px;
    height: auto;
    padding-top: 5px;
    margin-right: 20px;
    margin-top: 5px;
    text-align: center;
}
.feature ul li p{
    overflow: hidden;
}

.center-btn {
    position: relative;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
}

.overview-btn {
    left: 0;
    margin: 15px auto;
    transform: translateX(0);
}

.cta{
    background: #ff4081;
    position: relative;
    overflow: hidden;
    text-align: center;
    color: #fff;
}
.cta:after{
    content: "";
    display: block;
    position: absolute;
    top: -40px; right: -40px; bottom: -40px; left: -40px;
    background: rgba(255,255,255,0.1);
    transform: rotate(30deg);
}
.cta .container{
    position: relative;
    z-index: 10;
}
.cta h2{
    margin-bottom: 40px;
}

.contact{
    background: #ff4081;
    position: relative;
    overflow: hidden;
    text-align: center;
}
.contact:after{
    content: "";
    display: block;
    position: absolute;
    top: -40px; right: -40px; bottom: -40px; left: -40px;
    background: rgba(255,255,255,0.1);
    transform: rotate(30deg);
}
.contact .input{
    width: 47%;
    float: left;
}
.contact .input:nth-of-type(odd){
    margin-right: 6%;
}
.contact .message{
    display: block;
    clear: both;
    float: none;
    padding-top: 10px;
}
.contact .input input{
    display: block;
    width: 100%;
    background: rgba(255,255,255,0.3);
    border: 0;
    padding: 10px 15px;
}
.contact .message textarea{
    display: block;
    width: 100%;
    height: 200px;
    background: rgba(255,255,255,0.3);
    border: 0;
    padding: 10px 15px;
    resize: vertical;
}
.contact label{
    position: relative;
    z-index: 10;
}
.contact label span{
    display: block;
    text-align: left;
    font-size: 14px;
}
.contact label span .fa{
    margin-right: 7px;
}
.contact .submit{
    display: block;
    text-align: center;
    padding-top: 40px;
}
.contact h2{
    margin-bottom: 40px;
}

.packages{
    text-align: center;
}
.packages > div > div{
    display: inline-block;
    float: left;
    width: 30%;
    margin: 60px 10px 0 10px;
    background: #f6f6f6;
    padding: 40px;
}
.packages > div > div h3{
    background: #555;
    color: #fff;
    display: block;
    margin: -40px -40px 35px -40px;
    padding: 30px;
    position: relative;
}
.packages > div > div h3 span{
    display: block;
}
.packages > div > div h3 span .fa{
    margin: 0 1px;
}
.packages > div > div .price{
    font-size: 40px;
}

/*
.packages > div > div:nth-of-type(2){
    width: calc(34% + 20px);
    margin: 40px -10px 0 -10px;
    box-shadow: 0px 5px 20px -5px rgba(0,0,0,0.3);
    position: relative;
    z-index: 50;
}

.packages > div > div:nth-of-type(2) h3{
    background: #fbc93d;
    color: #555;
    display: block;
}
*/

.packages ul{
    padding: 0;
    margin: 27px 0;
}
.packages ul li{
    display: block;
    line-height: 40px;
    border-bottom: 1px solid #eee;
}
.packages ul li:last-child{
    border-bottom: 0;
}

.packages > div > div {
    opacity: 0.35;
}



/*******************************************************************
 * FOOTER
 */

footer{
    background: #222;
    color: #ccc;
    padding: 0 20px;
}
footer .copyright{
    float: left;
    padding: 15px 0;
}
footer .copyright p{
    margin: 0;
}
footer .copyright a{
    color: #fff;
}
footer .social{
    float: right;
    padding: 15px 0;
}
footer .social a{
    margin-left: 10px;
    font-size: 20px;
    color: #ccc;
}
footer .social a:hover{
    color: #fff;
}

.pinkbg {
    background: #ff4081;
}
.pinkbg.container {
    color: #fff;
}


@media (max-width: 800px){
    section{
        padding: 80px 10px;
    }
    header, footer{
        padding: 0 10px;
    }
    .splash{
        height: auto;
        padding: 150px 10px 80px 10px;
        text-align: center;
    }
    .splash .container{
        position: relative;
        top: 0;
        transform: none;
    }
    .overview > div > div{
        padding: 0 20px;
    }
    .feature img{
        right: 65%;
    }
    .feature:nth-of-type(even) img{
        left: 65%;
    }
    .feature > div > div{
        width: 60%;
    }
    header nav ul li a{
        padding: 15px;
    }
    .packages > div > div{
        width: 100% !important;
        float: none;
        margin: 0 0 20px 0 !important;
        box-shadow: none !important;
    }
    .packages > div > div:nth-last-child(2),
    .packages > div > div:nth-last-child(1) {
        display: none;
    }
    .packages > div > div h3{
        background: #555 !important;
        color: #fff !important;
    }
    .packages h2{
        margin-bottom: 40px;
    }
    .container .container-feature-p {
        font-size: 18px;
        line-height: 28px;
    }

    /* SERVICES
    *******************************************************/
    .feature.services table {
        width: 80%;
    }
    .feature.services > div > div {
        width: 100%;
    }
}


@media (max-width: 600px){
    section{
        padding: 40px 10px;
    }
    .splash{
        padding: 100px 10px 40px 10px;
    }
    .overview > div > div{
        float: none;
        width: 100%;
        margin-bottom: 40px;
        padding: 0;
    }
    .overview > div > div:last-child{
        margin-bottom: 0;
    }
    .overview p{
        overflow: hidden;
    }
    .feature img{
        display: none;
    }
    .feature > div > div{
        width: 100%;
        float: none;
    }
    header nav{
        float: none;
        position: fixed;
        top: 56px;
        left: -300px;
        bottom: 0;
        width: 100%;
        max-width: 300px;
        background: #333;
        transition: 200ms;
    }
    header nav.visible{
        left: 0px;
    }
    header nav ul li{
        display: block;
        float: none;
        width: 100%;
    }
    header nav ul li a{
        display: block;
        width: 100%;
        border-bottom: 1px solid rgba(255,255,255,0.1);
    }
    header .toggle-menu{
        display: block;
        color: #fff;
        position: absolute;
        right: 10px;
        top: 13px;
        font-size: 28px;
    }
    footer{
        text-align: center;
    }
    footer .copyright, footer .social{
        float: none;
    }
    footer .social{
        padding-top: 0;
    }

    .contact .input{
        display: block;
        width: 100%;
        float: none;
    }
    .contact .input:nth-of-type(odd){
        margin-right: 0;
    }
    .contact label{
        padding-top: 10px;
    }
    .contact label:first-of-type{
        padding-top: 0;
    }
    /* SERVICES
    *******************************************************/
    .feature.services table {
        width: 100%;
    }
}

.white-text {
    color: #fff;
}
.white-text input,
.white-text textarea {
    color: #fff;
}
#service-img {
    width: 750px;
}

/*******************************************************************
 * INDEX GALLERY
 */

.index-gallery {
    position: relative;
    padding: 0;
    text-align: center;
    line-height: 0;
}

.index-gallery div {
    display: inline-block;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: 19%;
    line-height: 0;

}

.index-gallery div img {
    width: 100%;
    max-width: 300px;
    height: auto;
    padding: 10px;
}


/*******************************************************************
 * ABOUT
 */

.feature.about-page > div > .about-gallery {
    float: none;
    width: 100%;
    text-align: center;
}

.about-gallery {
    position: relative;
    width: 100%;
}

#about-gallery img {
    width: 100%;
}

.about-gallery-left,
.about-gallery-right {
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    text-shadow: 1px 0px 2px rgba(0,0,0,0.60);
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 38px;
    color: #ff4081;
    background: rgba(255,255,255,0.60);
    border-radius: 50%;
    z-index: 10;
}

.about-gallery-left {
    left: 10px;
    padding: 7px 12px 7px 7px;
}
.about-gallery-right {
    left: calc(100% - 60px);
    padding: 7px 7px 7px 12px;
}

/* About Team */

.about-team {
    position: relative;
    overflow: hidden;
    text-align: center;
}

.about-team .container{
    position: relative;
    z-index: 10;
}

.slant-bg {
    position: relative;
    overflow: hidden;
}

.slant-bg::after{
    content: "";
    display: block;
    position: absolute;
    top: -80px; right: -80px; bottom: -80px; left: -80px;
    background: rgba(255,255,255,0.1);
    transform: rotate(30deg);
}

.about-team h1 {
    color: #fff;
    text-align: center;
    text-transform: uppercase;
}

/* Team Gallery */

.about-team-2 {
    text-align: center;
}

.team-container {
    position: relative;
    display: inline-block;
    margin: 15px;
    width: 225px;
    height: 300px;
    border-radius: 5px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    overflow: hidden;
}
.team-container .team-image {
    position: relative;
}

.team-container .team-image::after {
    position: absolute;
    content: '';
    top: 0;
    left: 0 ;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    background: linear-gradient(45deg, rgba(171,139,250,0.33), transparent);
}

.team-container .team-image img {
    width: 100%;
    height: auto;
}

.team-container .team-description {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 15%;
    border-radius: 5px;
    overflow: hidden;
    background: rgba(75,0,125,0.60);
    -webkit-transition: all 0.35s ease;
    -moz-transition: all 0.35s ease;
    -o-transition: all 0.35s ease;
    transition: all 0.35s ease;
}

.team-container:hover .team-description {
    background: rgba(75,0,125,0.80);
    height: 100%;
}

.team-container .team-description h2,
.team-container .team-description p {
    color: #fff;
    text-align: center;
}

.team-container .team-description h2 {
    font-size: 1.250rem;
    margin: 5px 0;
}

/* Brand Carousel */

.brand-carousel {
    position: relative;
    padding: 50px 10px;
    text-align: center;
}
.brand-carousel.slant-bg::after {
    transform: rotate(-30deg);
}
#brand-carousel img {
    max-width: 150px;
}

/* OWL CAROUSEL */

/* clearfix */
.owl-carousel .owl-wrapper:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
/* display none until init */
.owl-carousel{
    display: none;
    position: relative;
    width: 100%;
    -ms-touch-action: pan-y;
}
.owl-carousel .owl-wrapper{
    display: none;
    position: relative;
    -webkit-transform: translate3d(0px, 0px, 0px);
}
.owl-carousel .owl-wrapper-outer{
    overflow: hidden;
    position: relative;
    width: 100%;
}
.owl-carousel .owl-wrapper-outer.autoHeight{
    -webkit-transition: height 500ms ease-in-out;
    -moz-transition: height 500ms ease-in-out;
    -ms-transition: height 500ms ease-in-out;
    -o-transition: height 500ms ease-in-out;
    transition: height 500ms ease-in-out;
}
    
.owl-carousel .owl-item{
    float: left;
}
.owl-controls .owl-page,
.owl-controls .owl-buttons div{
    cursor: pointer;
}
.owl-controls {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* mouse grab icon

.grabbing { 
    cursor:url(grabbing.png) 8 8, move;
}

*/

/* fix */
.owl-carousel  .owl-wrapper,
.owl-carousel  .owl-item{
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility:    hidden;
    -ms-backface-visibility:     hidden;
  -webkit-transform: translate3d(0,0,0);
  -moz-transform: translate3d(0,0,0);
  -ms-transform: translate3d(0,0,0);
}


.owl-theme .owl-controls{
    margin-top: 10px;
    text-align: center;
}

/* Styling Next and Prev buttons */

.owl-theme .owl-controls .owl-buttons div{
    color: #FFF;
    display: inline-block;
    zoom: 1;
    *display: inline;/*IE7 life-saver */
    margin: 5px;
    padding: 3px 10px;
    font-size: 12px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    background: #869791;
    filter: Alpha(Opacity=50);/*IE7 fix*/
    opacity: 0.5;
}
/* Clickable class fix problem with hover on touch devices */
/* Use it for non-touch hover action */
.owl-theme .owl-controls.clickable .owl-buttons div:hover{
    filter: Alpha(Opacity=100);/*IE7 fix*/
    opacity: 1;
    text-decoration: none;
}

/* Styling Pagination*/

.owl-theme .owl-controls .owl-page{
    display: inline-block;
    zoom: 1;
    *display: inline;/*IE7 life-saver */
}
.owl-theme .owl-controls .owl-page span{
    display: block;
    width: 12px;
    height: 12px;
    margin: 5px 7px;
    filter: Alpha(Opacity=50);/*IE7 fix*/
    opacity: 0.5;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    background: #869791;
}

.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span{
    filter: Alpha(Opacity=100);/*IE7 fix*/
    opacity: 1;
}

/* If PaginationNumbers is true */

.owl-theme .owl-controls .owl-page span.owl-numbers{
    height: auto;
    width: auto;
    color: #FFF;
    padding: 2px 10px;
    font-size: 12px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
}

/* preloading images */
.owl-item.loading{
    min-height: 150px;
    background: url(AjaxLoader.gif) no-repeat center center
}

/* ZOOM CSS */

img[data-action="zoom"] {
  cursor: pointer;
  cursor: -webkit-zoom-in;
  cursor: -moz-zoom-in;
}
.zoom-img,
.zoom-img-wrap {
  position: relative;
  z-index: 666;
  -webkit-transition: all 300ms;
       -o-transition: all 300ms;
          transition: all 300ms;
}
img.zoom-img {
  cursor: pointer;
  cursor: -webkit-zoom-out;
  cursor: -moz-zoom-out;
}
.zoom-overlay {
  z-index: 420;
  background: #fff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  filter: "alpha(opacity=0)";
  opacity: 0;
  -webkit-transition:      opacity 300ms;
       -o-transition:      opacity 300ms;
          transition:      opacity 300ms;
}
.zoom-overlay-open .zoom-overlay {
  filter: "alpha(opacity=100)";
  opacity: 1;
}
.zoom-overlay-open,
.zoom-overlay-transitioning {
  cursor: default;
}