# Include your project-specific ignores in this file
# Read about how to use .gitignore: https://help.github.com/articles/ignoring-files

.gitignore
gulpfile.js
node_modules/
page.jade
old-files
template.html
newsletter/
old/
_site
.sass-cache
.jekyll-metadata