<footer class="footer padding-100">

  <div class="container">
    <p class="footer_pretext">Get in touch</p>

    <h5 class="footer-heading">{{ site.title }}</h5>
    
    <div class="footer_navigation row">
      
      <nav id="footer_contact" class="col-xs-12 col-sm-4 padding-40">
        <h5>Contact</h5>
        <ul>
          <li>04 328 0033</li>
          <li><a href="mailto:salon@enigmabeauty.net">salon@enigmabeauty.net</a></li>
          <li>Villa 1276, Al Wasl Road, Umm Suqqeim  3<br>P.O. Box 32483<br>Dubai, U.A.E.</li>
        </ul>
      </nav>

      <nav id="footer_navigate" class="col-xs-12 col-sm-4 padding-40">
        <h5>Navigate</h5>
        <ul>
          <li><a href="{{ site.baseurl }}">Home</a></li>
          <li><a href="{{ site.baseurl }}/about">About</a></li>
          <li><a href="{{ site.baseurl }}/services">Services</a></li>
          <li><a href="{{ site.baseurl }}/">Promotions</a></li>
          <li><a href="{{ site.baseurl }}/blog.html">Blog</a></li>
          <li><a href="{{ site.baseurl }}#contact">Contact</a></li>
        </ul>
      </nav>
      
      <nav id="footer_social" class="col-xs-12 col-sm-4 padding-40">
        <h5>Follow Us</h5>
        <ul>
          <li><a href="https://www.facebook.com/enigmabeautysalonandspa/" target="_blank">
            <i style="color: #3b5998;" class="fa fa-fw fa-facebook-official" aria-hidden="true"></i>enigmabeautysalonandspa
          </a></li>
          <li><a href="{{ site.instagram }}" target="_blank">
            <i style="color: #c13584;" class="fa fa-fw fa-instagram" aria-hidden="true"></i>enigmabeautysalonandspa
          </a></li>
          <li><a href="{{ site.twitter }}" target="_blank">
            <i style="color: #1da1f2;" class="fa fa-fw fa-twitter" aria-hidden="true"></i>enigmabeautyss
          </a></li>
          <li><a href="{{ site.googleplus }}" target="_blank">
            <i style="color: #dd4b39;" class="fa fa-fw fa-google-plus" aria-hidden="true"></i>Enigmaladiessalon
          </a></li>
        </ul>
      </nav>

    </div>


    <div class="copyright">
      <p class="caption">Copyright &copy; Enigma Trading 2016</p>
    </div>

  </div> <!-- container -->


</footer>
</div> <!-- wrapper -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script src="{{ site.baseurl }}/js/plugins.js"></script>
<script src="{{ site.baseurl }}/js/scripts.js"></script>

</body>
</html>